[2018-02-14 07:06] mabunixda opened #2 "Integrate Sensors"
Integrate Sensors as seperate node for
 * temperature
 * humidity
 * switch

[2018-02-14 09:42] bytec77 opened #3 "% value ?"
Is it possible to set an % value for example an window shutter.

Now I get only "on" or "off"

[2018-02-14 09:47] mabunixda commented on #3
can you sketch your flow? and what alexa command are you using?

You could use the "dim" command e.g. "alexa, dim <node-name> to 5" will output msg.bri = 5
or you can use "alexa, dim <node-name> to 5 percent" will produce msg.bri = 0.05

[2018-03-04 21:02] MattL0 opened #4 "Multiple alexa support"
Can this plugin knows which echo dot ( i have 6 ) I am talking to? Thank you

[2018-03-06 06:39] mabunixda commented on #4
With version 0.3.4 you can get the ip address of the device which is sending the request. At the moment there is not more information available within the communication with an alexa device.

[2018-03-06 06:39] mabunixda commented on #3
going go close this ...

[2018-03-06 06:39] #3 closed

[2018-03-06 08:10] summer69guy commented on #4
Your talking about the Alexa device ? I am not sure where to look for the ip

[2018-03-06 08:11] mabunixda commented on #4
the msg object has an additional property "alexa_ip". You can use this within a function block or a switch block do add additional logic. Just add an debug block and output the complete msg object

[2018-03-06 08:26] summer69guy commented on #4
I didn’t output the complete message!! This is so nice. Thank youu !!

[2018-03-08 09:42] summer69guy commented on #4
Hi,

I always get the same ip 192.168.1.1.

I tried with my phone, and with all my 6 Alexa dot v2

[2018-03-08 10:44] mabunixda commented on #4
Is that an alexa dot ip ? Are you running node-red behind a reverse proxy?

[2018-03-09 06:33] summer69guy commented on #4
Yes. this is a dot ip . I edited.

Today it shows 192.168.1.100. wich is also an echo dot ip.

I tried all my echo dots. The Ip remain the same.

I do not really know what is a reverse proxy. But I use the last LEDE firmware on a Linksys WRT1900ACS

[2018-03-09 06:39] summer69guy commented on #4
![capture](https://user-images.githubusercontent.com/27497561/37194101-a5671384-233a-11e8-8487-33c89d799368.PNG)

[2018-03-09 06:43] summer69guy commented on #4
it is now 192.168.1.102.  wich is a dot too

[2018-03-09 10:04] mabunixda commented on #4
i am not able to reproduce this because i just own one alexa device :-(

[2018-03-09 21:12] summer69guy commented on #4
ok thank you . I'll wait then :P

[2018-03-18 11:18] tb-killa commented on #4
Could somebody provide simple Example to Filter for the "alexa_ip" please ?

[2018-03-18 22:16] summer69guy commented on #4
I always get the same ip. I think the plugin connect to a particular alexa at the begining when node red  loads ...and after that it is impossible to change that ip adress.  So the plugin detect one of my alexa at the begining... but after that it just tell me that everything is comming from that ip adress.. event if i call the device with another alexa.

If i restart nodered or my pc... the plugi

[2018-03-19 06:31] mabunixda commented on #4
The communication is the other way - alexa connects to node-red because this node adds an extra service which is discovered by alexa and afterwards alexa sends its commands to this service. But i assume that alexa does select a "master" node within its own network of alexas and only this alexa connects to the specific devices.

[2018-03-24 12:10] BeSeWe opened #5 "TypeError: node.findAlexaHomeController"
Hi,
I have currently the following issue after installing the node in my proejct.
TypeError: node.findAlexaHomeController is not a function

Thanks in advance.
Ben

[2018-03-27 15:11] MosesHill commented on #4
I was just about to write about this too. I have 3 Alexa and want to be able to say "Turn of the light", which should then turn of the primary light in the room where i am standing. Depending on, which Alexa I tell to do it, it will then be a different light.
But I have the same problem: the Alexa Home node only gets the IP of one of the Alexa devices ONCE. For the rest of the session this will be

[2018-03-27 21:10] summer69guy commented on #4
I have to say. If this feature works in the future. That would be a life changer for many !!!
Hope it is nota limitation on amazon side .

Get Outlook for iOS<https://aka.ms/o0ukef>
_____________________________
From: MosesHill <notifications@github.com>
Sent: Tuesday, March 27, 2018 11:11 AM
Subject: Re: [mabunixda/node-red-contrib-alexa-home] Multiple alexa support (#4)
To: mabunixda/node-red-co

[2018-03-28 08:56] mabunixda commented on #4
Yeah i hope to get this done ... i just got a new echo dot these days and hope to get into testing asap!

[2018-04-04 22:38] resper opened #7 "Can't discover devices (running Node-RED on docker)"
Hello,

Alexa doesn't find any device. I Open TCP and UDP Port 60.
I also get no error or warning in the log files.
![screenshot-192 168 178 27-1880-2018 04 05-00-36-59](https://user-images.githubusercontent.com/6404294/38338341-7f3c3f24-3869-11e8-9f3a-d2aa4d53f841.png)

[2018-04-15 18:59] MosquitoD4K commented on #4
I have the same problem, as I receive the same IP address for every alexa I have. Would it be possible, to just add all information about the received request to the msg output? (all headers and all data)

[2018-04-17 06:01] mabunixda commented on #4
Yeah it seems that only 1 alexa interacts with the node. I was also not able to get any information from available objects.
I published a version 0.3.5 which adds all header information from the connection to the msg object. If you output the complete msg, they should appear in the log.

But i think i have to change the declaration of the hue gateway because other hue implementations ( switches an

[2018-04-17 15:02] MosesHill commented on #4
Try look at the skill “This Room”. It is quite primitive, but on their webpage you can write an info for each room with an Alexa in it. The you get different information depending on, which Alexa you talk to (all in same Amazon account)

Marcel

[2018-04-18 07:39] MosesHill commented on #4
Could be. I’m from denmark, so I just selected US.
But you can try to contact the website behind: http://actualcalories.com
Maybe they can tell you How to do it.

Hilsen Marcel

[2018-05-30 10:31] Werner-G opened #9 "Too many log entries"
I moved from alexa-local to alexa-home with the hope not to have so many log entries - but it is still the same. My opinion is that log-files should be easy to read and to see some failures in one look. Is it possible to minimize log-entries to certain level?

[2018-05-30 11:35] bagg3rs commented on #7
I had to move to host network from bridge.

[2018-10-07 15:48] gregbert42 commented on #7
Having the same problem!

[2018-12-23 17:20] Toshibass commented on #9
Agreed the node is working fine for me but why is this node filling up my log file with unnecessary crap, all that's needed is an entry if something is wrong ... please fix this or O will have to delete this node as unusable.

[2019-01-22 12:59] mabunixda commented on #7
Yeah docker does not support the udp multicast :-( You must run this on hostNetwork. I was not able to find any workaround until now

[2019-01-22 12:59] #7 closed

[2019-01-22 12:59] mabunixda commented on #9
Yeah i am refactoring the solution right now .. i gonna take this issue on

[2019-01-22 13:00] mabunixda commented on #5
This failure should already be fixed

[2019-01-22 13:00] #5 closed

[2019-03-03 01:23] jaburges commented on #4
Did you get anywhere with this?
I too am getting the same IP address no matter what device (major bummer as really want to move to localized control based on the alexa device).
Is there any way to pull ANY unique ID for the device (MAC, UUID ?)
Alexa App knows which device as can offer responses from the app to specific devices

[2019-03-05 13:31] mabunixda commented on #4
Hi,

no i did no further work on this topic. But it is still something i am missing to.
I will have to refactor the whole code to get also sensors available - i hope to get a solution also for this topic in this step

[2019-03-29 18:54] montagar3 opened #11 "nodes stuck in "discovery (p: 60000)" mode"
(Using version 0.3.5) This issue just started yesterday. All the alexa-home nodes are showing "discovery (p:60000)". When I restart node-red, they all show "online (p:60000)" but after about 30 seconds they all change to "discovery (p: 60000)" and can't be accessed by my echo. Asking alexa to discover devices yields "no new devices found".

[2019-03-31 16:22] montagar3 commented on #11
Found the issue. I had copied the nodes from one flow to another and even though I deleted them from the previous node, there was some kind of conflict/confusion as alexa was listing multiple instances of the devices. I removed all of those devices, did a discovery and all seems to be back to normal.

[2019-04-04 09:14] mabunixda commented on #11
Sorry - missed the notification from github ...

Nice to fix this by yourself

[2019-04-04 09:14] #11 closed

[2019-05-02 17:59] tribbles3 opened #12 "issues after adding a 26th device"
I have 25 alexa nodes and everything is fine but when I add a 26th node I lose access to one of the previous nodes. The new (26th) node works but one previous node is no longer accessible. When I try to access that "lost" node, node-red display a debug message that it's trying to access an invalid device. Is there a hard limit to the number of devices?

[2019-05-06 13:55] mabunixda commented on #12
There is a limit of nodes per provider node - each provider node serves 25 alexa command nodes. I must review the code if there is a problem in the current code when going of this split. I use more than 40 alexa nodes rights now

[2019-05-08 03:11] tribbles3 commented on #12
Is a provider node the same as a configuration node? Is there a way to how many provider nodes there are?

[2019-05-08 05:21] mabunixda commented on #12
provider nodes are created dynamically when a limit of n / 25 is reached. but the id of the nodes get persisted on disk within DATA_DIR/alexa-home/. There must be a file with { "key": "$PORT", "value": "$ID" }. Port is per Default 60000 but can be changed with ALEXA_PORT environment variable.

[2019-05-08 16:55] tribbles3 commented on #12
There are 86 files in that folder, so does that mean that there are left over files from deleted nodes?

[2019-05-09 11:47] mabunixda commented on #12
damn yeah missed the cleanup processing totally :-(

I will get this done - so overdue to refactor some code fragments in this node

[2019-05-10 12:15] mabunixda commented on #9
rewrite is going on in dev branch - hopefully this will workout with a new version by next week

[2019-06-04 19:16] mabunixda commented on #12
reimplementation is fixed and i  have about 36 nodes available now and its running nice :)

[2019-06-04 19:16] #12 closed

[2019-06-04 19:17] mabunixda commented on #9
logging is now refactored with #15 and release 1.0.0

[2019-06-04 19:17] #9 closed

[2019-06-04 19:18] mabunixda commented on #2
feedback of a switch is implemented with #15  still looking how to get real sensors working

[2019-06-04 19:18] #2 closed

[2019-06-05 01:36] tribbles3 commented on #12
Did the update and I am unable to access any devices. I removed them all and tried to do discovery and none of them are being located.

[2019-06-05 03:14] tribbles3 opened #16 "Issue after updating to 1.x with device discovery"
Posting this here because it looks like the other issue thread has been closed.

I did the latest update and can longer access any of the nodes/devices. I tried discovering devices, nothing was found and then I tried creating a new device and that was not discovered either. I noticed that none of the nodes are displaying any status information under the node whereas before the was status informati

[2019-06-05 05:02] mabunixda commented on #12
Did you add the controller node also?

[2019-06-05 06:02] mabunixda commented on #16
Did you also add the alexa home controller node?

I found a bug within my logic that the error message is just displayed when an input is processed by the node providing alexa functions. But this node is not detected by alexa if the controller node is not available.

I gonna readd a status error on the node to reflect that the controller node is missing. I removed this because it also can happen t

[2019-06-05 06:39] mabunixda commented on #16
@tribbles3 please retry with version 1.0.1

[2019-06-05 14:11] tribbles3 commented on #16
When I add the controller I get the following error (and I am unable to name the controller as well):

TypeError: Cannot read property '_logger' of undefined

[2019-06-05 14:47] mabunixda commented on #16
which node-red version are running?
and which node/npm version is used to run node-red?

[2019-06-05 15:02] tribbles3 commented on #16
node-red V0.18.7

npm 5.6.0

[2019-06-05 15:13] mabunixda commented on #16
Ok - i just ran it with node-red v0.20 and npm 6.4 and node 10.15

I gonna test this with your versions ...

[2019-06-05 15:31] tribbles3 commented on #16
node.js version = 8.11.3 (forgot to put that before)

[2019-06-06 19:47] Werner-G commented on #16
I have the same problem. No device is detected by alexa, and the node-red-log always show:
`6 Jun 21:38:45 - [error] [alexa-home-controller:84890d22.1ef118] TypeError: Cannot read property '_logger' of undefined`

I am not able to include any name inside the alexa home controller node.

    Node 10.15.1
    Npm 6.7.0
    Nodered 0.19.5

[2019-06-07 05:52] mabunixda commented on #16
i removed the blocking logger stuff in version 1.0.2 - logging is now done entirely via node-red.

Please use this version and give me feedback .. Thanks!

[2019-06-07 13:19] tribbles3 commented on #16
I am now able to add the controller and name it without getting an error but Alexa still cannot locate any of my devices (even tried adding a new device node).

[2019-06-07 13:55] Werner-G commented on #16
I upgraded to V1.02. Logs are OK (no errors, no warnings). But in Node-Red, I still cannot add a name in the Controller, and Alexa cannot detect any device. But the Controller showing 'ok', like the devices.

[2019-06-07 14:22] tribbles3 commented on #16
I just checked and as Werner-G has stated, I cannot actually name the controller node. You can type a name in but it will not stick after saving.

[2019-06-07 15:14] mabunixda commented on #16
Ok the naming of the controller is easy fixable.

Can you test if port 1900/udp is open?
On Linux/*nix it should be
[code]
In the current version you will find an output at info level logging of node-red
"alexa-home - Starting SSDP"

First assumption is that the announced SSDP URI is not correct. Please turn debug level on node-red and this should output
**[debug]  announcing: http://$HOST:$PORT/s

[2019-06-07 15:40] tribbles3 commented on #16
On the road so I won't be able to test anything till tonight.

[2019-06-07 22:16] tribbles3 commented on #16
Is the debug level set in settings.js and if so, what is the exact setting that needs to be changed (can't find it)?

[2019-06-08 07:38] stephjj commented on #16
Same problems :
- Forgot to add the AlexaHomeController
  What is the purpose of this node ? Why not a config node instead ?
- No ip on the SSDP server
the log show  [debug] announcing: http://undefined/setup.xml
If I use the ALEXA_IP env variable the log show [debug] announcing: http://192.168.1.14:1880/setup.xml
but doesn't works. And Alexa discover nothing.

[2019-06-08 09:34] mabunixda commented on #16
the purpose of this node is that alexa discovers instances via udp broadcast. Not each command node should run a udp service - this should only run once. This was previously < 1.x created in the background was not controllable. So this node is not for configuration - this providers the broadcast from alexa to node-red.

@stephjj Can you define an environment variable **DEBUG=node-ssdp:server** ?
T

[2019-06-08 09:42] stephjj commented on #16
the response on  http://192.168.1.14:1880/setup.xml is
Cannot GET /setup.xml
after a very long time

The log for SSDP (partial) :
  node-ssdp:server Sending an advertisement event +10s
  node-ssdp:server Sending a message to 239.255.255.250:1900 +1ms
  node-ssdp:server Sending an advertisement event +1ms
  node-ssdp:server Sending a message to 239.255.255.250:1900 +0ms
  node-ssdp:server Sending a

[2019-06-08 09:45] mabunixda commented on #16
Thanks - so alexa gets the correct url announced, but the node is not responding.

@stephjj is your node-red available under http://192.168.1.14:1880 ?
Can you try to enable debug logging within node-red as next step?

I did redesign the alexa-home-controller to be a full node to make it visible and available. But i gonna make it available on the fly again that you are not forced to reconfigure th

[2019-06-08 15:48] stephjj commented on #16
Yes, it's the address of the NodeRed

[2019-06-08 16:00] stephjj commented on #16
BTW, the alexa-home-controller node must be a config node and not a function node with 0 input and 0 output.
That is you will have exactly one node automatically

[2019-06-08 19:09] mabunixda commented on #16
@stephjj config nodes are unique but cannot have any logic as far as i know right now ...

If anyone is able to provide some debug logs i could fix this.
I have this version running in my deployment - but i am using a docker image within kubernetes to run  my node-red installation.

[2019-06-09 03:46] tribbles3 commented on #16
Here is the debug info:

8 Jun 22:43:49 - [debug] No Alexa Home Controller available
8 Jun 22:43:49 - [debug] No Alexa Home Controller available
8 Jun 22:43:49 - [debug] No Alexa Home Controller available
8 Jun 22:43:49 - [debug] No Alexa Home Controller available
8 Jun 22:43:49 - [debug] No Alexa Home Controller available
8 Jun 22:43:49 - [debug] No Alexa Home Controller available
8 Jun 22:43:49

[2019-06-09 05:33] stephjj commented on #16
The config nodes are like the other but lives on the config tab not the editor. They can have a GUI.
Look at the core node. 10-mqtt.js for example.
The node mqtt-broker has all the logic for the communication with the MQTT protocol. Then the mqqt in and mqtt out has only the logic to deal with messages and decode the message

[2019-06-10 08:45] SamNitro commented on #16
Hello, is there any way to get it started?

[2019-06-10 11:03] AndreyKindin commented on #16
Hi hier is my fix for announcing: http://undefined/setup.xml

\home\pi\.node-red\node_modules\node-red-contrib-alexa-home\alexa\alexa-home-controller.js
row 146

`AlexaHomeController.prototype.getHttpAddress = function () {

        if (process.env.ALEXA_IP) {
            var publicIP = process.env.ALEXA_IP;
            if (publicIP.indexOf(":") > 0) {
                RED.log.debug("httpAddress us

[2019-06-10 11:32] SamNitro commented on #16
i have change the alexa-home-controller.js
now if i search for device, the Alexa-home-controller write
--lights list requested 50
and than
--setup requested

but I can't control any device.

[2019-06-10 11:50] mabunixda commented on #16
@AndreyKindin yeah i did a similar fix already in the codebase 9af4ac53bd6d7d244840cdcdcb6490e779d4e8bc

@SamNitro do you see the devices within alexa app? for more details you must enable debug logging on node-red

[2019-06-10 12:22] AndreyKindin commented on #16
@mabunixda i try your dev release  it works good for me 👍.
@SamNitro try to delete Alexa home Controller node from your flow.

[2019-06-10 12:36] AndreyKindin opened #19 "set color"
Hi,
if i try to set a color  i get this

`SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at AlexaHomeController.controlItem (/home/pi/.node-red/node_modules/node-red-contrib-alexa-home/alexa/alexa-home-controller.js:367:27)
    at /home/pi/.node-red/node_modules/node-red-contrib-alexa-home/alexa/alexa-home-controller.js:114:14
    at Layer.handle [as handle_request]

[2019-06-10 12:56] SamNitro commented on #16
Yes, now it works, but in the old version I could get double names with a ";" separate.

In German
(Rollo Wohnzimmer; Rolladen Wohnzimmer)

this is not possible anymore

[2019-06-10 12:58] mabunixda commented on #16
Ok - did not even know that this work :-D
I use link - nodes to do kind of groups/scenes

[2019-06-10 13:38] mabunixda commented on #19
Yeah i reuse the http server of node-red. there is already a json parser working and so the body is a json representation of the content. I did not get a solution to get the "inner"-body of the request body.

[2019-06-10 13:49] AndreyKindin commented on #19
this is output from  request.body.  if i try to get payloadRaw i get something like this { "on": true, "xy":  and this can't be parst

[2019-06-10 13:59] mabunixda commented on #19
I did not find any solution getting the raw body before it was json parsed in the request object.
I also tried to inject a middleware to copy the body before it gets parsed without success :(

[2019-06-10 14:16] mabunixda commented on #16
i just pushed version 1.0.3 to npm .. please verify if ssdp location is now fixed and nodes are detected again by alexa

[2019-06-10 14:42] SamNitro opened #21 "on/off or dim command"
in the old version you have a

msg.on_off_command = true/false

how can i make that difference between on/off and dim command?

[2019-06-10 15:02] mabunixda commented on #21
The logic happens [here](https://github.com/mabunixda/node-red-contrib-alexa-home/blob/c06a6ad85d6cbccb8d82cf246418316ed248dbc5/alexa/alexa-home.js#L59)

msg.payload.on=true || false will switch on or off
msg.payload.bri=[0...255] will dim.

[2019-06-10 15:23] AndreyKindin commented on #19
not nice, but it works
replace
`var payloadRaw = Object.keys(request.body)[0];`
with

`var body = JSON.stringify(request.body);
		var payloadRaw;
		if(body.indexOf('xy') > 0){
			payloadRaw = body.replace("{\"{","{").replace(" \":{\"","[").replace("\":\"\"}","]").replace(/\\/g,"");
		}else{
			payloadRaw = Object.keys(request.body)[0];
		}
`

[2019-06-10 15:47] mabunixda commented on #19
yeah i tried in the meantime the same approach - quite unsatisified with this solution but it works as hack till i find a solution with express and getting the rawBody...

Can you try the current dev branch? I added all the logic/data to make it valid.

[2019-06-10 16:02] AndreyKindin commented on #19
somthing is wrong i get [debug] No Alexa Home Controller available

[2019-06-10 16:22] AndreyKindin commented on #19
in set-state.json you have
 {"success":{"/lights/1/state/sat": [{{ x }}, {{ y }} ] }},
instead of
 {"success":{"/lights/1/state/xy": [{{ x }}, {{ y }} ] }},

and

the error comes from
var app = RED.httpAdmin;
    app.use(bodyParser.json({
        verify: function (req, res, buf, encoding) {
            console.log("test")
            // sha1 content
            var hash = crypto.createHash('sha1')

[2019-06-10 16:31] mabunixda commented on #19
on the last 2 commits both errors should be gone. 2nd is from getting a better workaround of your "hack" ;-)

[2019-06-10 16:53] AndreyKindin commented on #19
👍

[2019-06-10 16:56] tribbles3 commented on #16
1.0.3 and still can't access any devices and Alexa doesn't discovery any devices.

[2019-06-10 17:24] stephjj commented on #16
Upgraded to 1.0.3
doesn't work.
Log:
10 Jun 19:21:53 - [debug] No Alexa Home Controller available
10 Jun 19:21:53 - [debug] No Alexa Home Controller available
10 Jun 19:21:53 - [debug] No Alexa Home Controller available
10 Jun 19:21:54 - [debug] Alexa Controller - Determining httpAddress...
10 Jun 19:21:54 - [debug] Alexa Controller - httpAddress using interface address: 192.168.1.14:1880
10 Jun 1

[2019-06-10 17:29] mabunixda commented on #16
@tribbles3 Is there any change in the controller node status shown?
--lights list requested <n>
--setup requested

Do you have debug on node-red enabled?
If yes, then you will find a log output as [debug] Alexa Controller - announcing: http://..../setup.xml
Can you access this setup.xml file?

@stephjj  @AndreyKindin  which versions of node,npm and node-red are you using?
As far as i understand th

[2019-06-10 17:34] stephjj commented on #16
10 Jun 19:21:43 - [info] Node-RED version: v0.20.5
10 Jun 19:21:43 - [info] Node.js  version: v8.16.0
10 Jun 19:21:43 - [info] Linux 4.9.35-v7+ arm LE

[2019-06-10 17:40] tribbles3 commented on #16
Controller node shows "lights list requested: 25"
Yes, I can access setup.xml

[2019-06-10 17:51] mabunixda commented on #16
@stephjj @tribbles3 do you have  inputs wired to the alexa nodes so that these get set already?

[2019-06-10 18:02] stephjj commented on #16
no
![Capture](https://user-images.githubusercontent.com/9297735/59215835-9286da80-8bba-11e9-957e-0cff803aeecd.PNG)

[2019-06-10 18:06] tribbles3 commented on #16
Yes for me as well.

[2019-06-10 18:20] mabunixda commented on #16
Ok - just to summarize
Alexa finds your node-red by udp/upnp via ssdp because setup.xml file is requested ( setup requested )
and Alexa also fetches lights items list ( lights list requested: ... )

@stephjj how many alexa nodes have you configured?

[2019-06-10 18:28] tribbles3 commented on #16
Your summary is correct for my situation.

[2019-06-10 19:44] mabunixda commented on #16
@tribbles3 @stephjj  can you send me the content-length of following url
 curl -sv http://$NODE_RED/api/abc/lights 2>&1 | grep Content-Length

Be aware that alexa devices seem not to support gzip compression. So testing this url in your browser might bring up an incorrect content-length

[2019-06-10 20:03] tribbles3 commented on #16
I'm on windows.

[2019-06-10 20:05] mabunixda commented on #16
no problem - here we go:
[code]

[2019-06-10 20:07] stephjj commented on #16
$ curl -sv http://192.168.1.14:1880/api/abc/lights
* Hostname was NOT found in DNS cache
*   Trying 192.168.1.14...
* Connected to 192.168.1.14 (192.168.1.14) port 1880 (#0)

< HTTP/1.1 404 Not Found
< X-Powered-By: Express
< Content-Security-Policy: default-src 'self'
< X-Content-Type-Options: nosniff
< Content-Type: text/html; charset=utf-8
< Content-Length: 153
< Date: Mon, 10 Jun 2019 20:05:14

[2019-06-10 20:08] mabunixda commented on #16
@stephjj  aehm ... what the hack is going on there - you are on arm right? raspi?

[2019-06-10 20:14] stephjj commented on #16
yes
Linux raspberrypi 4.9.35-v7+ #1014 SMP Fri Jun 30 14:47:43 BST 2017 armv7l GNU/Linux

[2019-06-10 20:16] mabunixda commented on #16
Ok i got a zero w somewhere which i can use to test this behavior..

[2019-06-10 20:17] till69 commented on #21
Yes, the "msg.on_off_command = true/false" was very useful ... please bring it back

[2019-06-10 20:25] mabunixda commented on #21
@till69  do you need this as output?

[2019-06-10 20:30] till69 commented on #21
Any solution is ok, but we should be able to difference between on/off and number command.

[2019-06-10 20:36] till69 commented on #21
Another small problem: "Alexa, light to 50" results in bri 127 and bri_normalized 49.80392156862745

So, if you could round to integer would be great :)

[2019-06-10 21:30] #21 closed

[2019-06-10 21:33] mabunixda commented on #19
is now online with 1.0.4

[2019-06-10 21:33] #19 closed

[2019-06-10 23:23] tribbles3 commented on #16
Alexa has now recognized all of my devices and I can access them, thank you! :)

Will I need to add another controller once I reach a certain number of device nodes?

[2019-06-11 00:48] till69 opened #23 "off vs zero"
First, thanks for quick 1.0.4 release 👍

"Alexa, turn light off" and "Alexa, turn light to 0" both result in command = "switch"

Zero should result in   command = "dim"   , even if result is the same for lights.
But for control of other devices (like TV) this would be very helpful ;)

Most helpful for me (and maybe others) would be an entry:
msg.payload.data = [on | off | 0...100]

[2019-06-11 07:12] mabunixda commented on #16
There might be a problem again at the moment. I will try a test setup if there exists a workaround and i have to dig into the available alexa documentation. Right now i just found that the maximum response size is 24k - but at the moment this happens already a 14k response size.
I am also wondering what a real hue hub does when these limits apply...

[2019-06-11 08:33] mabunixda commented on #23
Yeah i understand you with the dim command, but the input of "Alexa, turn light to 0" is
[code]
There is no brightness input available to detect a dim command :-(

[2019-06-11 10:52] till69 commented on #23
Ok ... too bad ... stupid Alexa :(

Thanks anyway!

[2019-06-11 11:54] mabunixda commented on #23
yeah it would also be helpful that you get more information about which alexa device the request was spoken to :-(

[2019-06-11 11:54] #23 closed

[2019-06-11 12:26] mabunixda commented on #4
At the moment this is not solveable because how alexa devices act and just a single master is doing all communication. I saw that alexa app on mobile is going directly to devices, but that seems the only exception...

[2019-06-11 12:26] #4 closed

[2019-06-15 16:04] stephjj commented on #16
I have found the problem for my case.
It's a conflict with node-red-contrib-alexa-home-skill
![Capture](https://user-images.githubusercontent.com/9297735/59553646-e23d1b80-8f97-11e9-88dd-06310a50fac9.PNG)

[2019-06-17 07:58] Lyve1981 opened #25 "change_direction always 0"
After updating from a very old version (<1) I was able to adjust everything so it works again.

But no matter what kind of command I initiate, the property change_direction is always zero. In an older version, this value was -1 or +1 if I used the commands (example) "blind up" or "blind down".

As the member is still part of the msg, I'd assume that it should still work this way.

[2019-06-17 07:59] Lyve1981 commented on #25
Sry, forgot to mention my version: 1.0.4

[2019-06-17 08:06] Lyve1981 commented on #25
@mabunixda as the name suggests, you might be german. The original command I use is "Markise rauf/runter" and "Rollo rauf/runter", I freely translated it to english here :)

[2019-06-19 15:39] SamNitro commented on #16
I can add 35 devices after that all my devices go offline.
Does one have a solution for it?

[2019-06-20 22:32] 3ative commented on #16
@mabunixda  So I upgraded to this new version today and I'm having the same issues as everyone else
The previous [](https://github.com/originallyus/node-red-contrib-alexa-local) worked perfectly, for me.

How do I get the old version installed back in?

[2019-06-21 12:33] greenkeeper[bot] opened #26 "An in-range update of node-red is breaking the build 🚨"
## The devDependency [node-red](https://github.com/node-red/node-red) was updated from `0.20.5` to `0.20.6`.

🚨 [View failing branch](https://github.com/mabunixda/node-red-contrib-alexa-home/compare/master...mabunixda:greenkeeper%2Fnode-red-0.20.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

node-red is a devDependenc

[2019-06-23 18:21] lacrimosa2k2 opened #27 "no device discover"
the alexa local doesnt work with the echo dot 3.gen so i try it with this, or cant handle the 3.gen?
when i search for devices, the alexa controller says setup requested and nothing found

[2019-06-24 06:14] tt2g89 commented on #27
+1
with Echo 1. Gen and Dot 1. Gen, also tried with the android app and the web app, but cannot discover. Controller says setup requested.

[2019-06-24 06:18] mabunixda commented on #16
i am still working on a workaround of this limitation.

@3ative  go to your userdirectory of node-red and edit the package.json - set the version 0.3.5 in there.

@SamNitro also if you have  less devices they are still not available when the 1.gen is disconnected?

[2019-06-24 06:19] mabunixda commented on #27
@tt2g89  @lacrimosa2k2 how many devices are configured in your node-red right now ?

[2019-06-24 06:19] #26 closed

[2019-06-24 06:21] lacrimosa2k2 commented on #27
only one for testing

[2019-06-24 06:28] tt2g89 commented on #27
Same here.

[2019-06-24 06:31] tt2g89 commented on #27
Just to be sure:
I add the Controller and do not link it to any element. I also add Alexa home, name it and link it to an action, correct?
Alexa home has two connectors to work as either an input or an output device, also correct?

BR

[2019-06-24 07:00] mabunixda commented on #27
@tt2g89 correct yes ..

i gonna try to reproduce this with my gen 2 devices

[2019-06-24 07:04] lacrimosa2k2 commented on #27
![asd32qerdsf](https://user-images.githubusercontent.com/28703161/59998134-f69bab00-965e-11e9-9577-e5f04a691bcf.JPG)
status with the amazon echo dot 3. gen

[2019-06-24 07:16] 3ative commented on #16
@mabunixda
Thanks, I'll try that later... But, found another node that works like your old one, for the moment.

[2019-06-24 07:19] SamNitro commented on #16
I will not be home until tomorrow, then I will test it.

[2019-06-24 07:23] mabunixda commented on #27
i just got the same problem with my deployment at home which was running now since release 1.0 very smooth and much more reactive then the 0.x version.

[2019-06-24 08:16] mabunixda commented on #16
@3ative which one? there seems to be a firmware upgrade on the alexa devices on the last days.

i just got the same problem with my deployment at home which was running now since release 1.0 very smooth and much more reactive then the 0.x version. And also on other alexa node-red nodes the same issues start appearing.

[2019-06-24 08:21] 3ative commented on #16
@mabunixda
It's : **node-red-contrib-alexa-local** - [(https://flows.nodered.org/node/node-red-contrib-alexa-local)]
Current version shows: 0.3.24

[2019-06-25 06:14] mabunixda commented on #27
The discovery is working again by yesterday ... i did not make any code changes in this part.

[2019-06-25 06:15] mabunixda commented on #16
Discovery is working again in my deployment. I also got a fix set up for the limitation of maximum devices. This fix is still not stable but will become released by today or at least tomorrow!

[2019-06-25 06:16] lacrimosa2k2 commented on #27
tested, the controller  says, setup requested again

[2019-06-25 07:20] tt2g89 commented on #27
G'Morning,
Since yesterday I use red node in a docker container inside my loxberry installation.
From then on the Controller just said ok, but doesn't find new devices either.
In the logs I saw, that SSDP is being used by red node, too.
Which ports are needed to have a working communication?
I opened 1880 and 1900 for the container.

[2019-06-25 08:44] mabunixda commented on #27
1880/tcp is node-red, 1900/udp is ssdp. At the moment only those 2 ports are used. I am also running node-red as docker deployment, but within kubernetes...

My development setup is also within a docker container and i must run the docker container on the host network because udp broadcast does not work correct with network overlays - as far as i was researching the last time ( a year ago at least

[2019-06-25 09:06] tt2g89 commented on #27
1900/udp is already in use by ssdp from loxberry -.-
0.0.0.0:1900... This could be another tiny problem and I'm not that Linux-super-specialist, that I can solve it. :(

I'm also using the loxone node. :)

[2019-06-25 10:36] SamNitro commented on #16
Yes, when i disconnect my Dot 1Gen, the Device are not available (With 17 Devices)

[2019-06-25 11:59] mabunixda commented on #16
@SamNitro  your other devices are gen3 right?

[2019-06-25 12:04] SamNitro commented on #16
I have
-Dot Gen1
-Dot Gen3
-Spot

[2019-06-25 12:05] mabunixda commented on #27
i assume that 172.17.0.3 is your docker container ip?
How are you starting the container? on host network or overlay?

@lacrimosa2k2 can you turn on debug logging in node-red and try a device discovery? there should be some logs what calls are made

[2019-06-25 12:06] SamNitro commented on #16
Sorry my First Dot is 2nd Gen

[2019-06-25 12:53] tt2g89 commented on #27
That's correct.

At the moment via bridge. Should I change to host?

[2019-06-25 12:55] mabunixda commented on #27
@tt2g89 yeah please retry with host

[2019-06-25 13:45] tt2g89 commented on #27
@mabunixda It isn't possible to connect to the network driver host via container. Maybe a misunderstanding from my side?
Errormessage from Portainer:"Failure
container cannot be disconnected from host network or connected to host network"

[2019-06-25 14:16] lacrimosa2k2 commented on #27
this debug?
`

node-red.0 | 2019-06-25 16:14:36.521 | debug | 25 Jun 16:14:36 - [info] Started flows
-- | -- | -- | --
node-red.0 | 2019-06-25 16:14:36.513 | debug | 25 Jun 16:14:36 - [info] Assigning alexa-home nodes to this controller
node-red.0 | 2019-06-25 16:14:36.504 | debug | 25 Jun 16:14:36 - [info] [alexa-home-controller:Alexa Controller] Alexa Controller - alexa-home - Starting SSDP
node

[2019-06-25 15:09] mabunixda commented on #27
@lacrimosa2k2 yes this one - and now in the timeframe when the discover process is running

@tt2g89 hm - i am using docker from commandline and not by loxberry ... i can give it a review in the evening...

[2019-06-25 15:13] lacrimosa2k2 commented on #27
iots the time from the discovery, this snipet repeats

[2019-06-27 10:24] tt2g89 commented on #27
Hi all,
I reinstalled my whole loxberry and installed red node outside docker. Works fine now.
It was not possible to join the host network within portainer.
And as you already wrote  @mabunixda overlay networks do not work correctly for some reason.

[2019-07-01 07:38] mabunixda commented on #27
for loxone you have to work with  functions now, because on is now a switch of payload object
[code]
or for blinds i use following shared function
[code]

[2019-07-01 21:14] tt2g89 commented on #27
Hi @mabunixda,
many thanks, that works well. Don't you use dimmable lights on Loxone? I'm still a bad scripter, but I'll try to use the blinds-function and change it to dim the lights correctly. ;)
The blinds work well, thanks again!!! :) The wording is quite funny, when I tell Alexa "Rollo blau" and it starts the automatic mode. :D

[2019-07-01 21:46] tt2g89 commented on #25
Hi @Lyve1981,
this Alexa-skill is emulating hue-devices, so how did you try to make Alexa know, what you want to tell her with "rauf" or "runter"? Those aren't used with lights. But if you have a cool solution or idea, that would be interesting. :)

[2019-07-02 05:14] mabunixda commented on #27
@tt2g89 yes the wording is funny - you can change the dim and color command to make more sense ;-)

@lacrimosa2k2 do you still have problems on detection? How is node-red running and which generation of alexa devices do you own?

[2019-07-02 05:32] mabunixda commented on #25
@Lyve1981 sorry forgot to update hte issue ... the change_direction is in the next release - or in the dev branch already

[2019-07-03 21:09] tribbles3 opened #28 "node input?"
I see that the nodes still have inputs but I am unable to get them to work and I don't see any mention of the inputs in any of the documentation anymore. Are they still functional and if so, what are the params?

Thanks.

[2019-07-04 19:41] lacrimosa2k2 commented on #27
@mabunixda
yes, node-red is running on iobroker
the alexa is the 3. generation

[2019-07-04 22:04] Ikswoknib commented on #27
Hello,
I'm having some similar setup:
Loxberry with Docker installation and ioBroker with node-red in a container.
I am using an MacVLAN Network for the Docker container, but i am not able to get it to work.
The Discovery always says no devices found. I tried to use an Echo 1. Gen, Echo 3. Gen and over the WebPage...

Is MacVLAN also not working ?

What does the "setup requested" mean ?

[2019-07-05 06:47] tt2g89 opened #29 "As a user I want to have the ability to promote smart sockets (i.e. Osram Plug) to alexa"
Hi @mabunixda,
awesome work and support from your side!
To make a distinction between at least lamps and smart sockets and to be able to better address the sockets, the distinction between lamps and sockets would be helpful. Hue supports this function by default.
Thanks in advance for checking the possibility.

BR tt2g

[2019-07-05 06:55] mabunixda commented on #27
setup requested means, that a device/application requested the setup.xml provided via upnp.
The discover process looks as follows:
* alexa: udp broadcast on upnp
* node-red: udp answer of node with link to setup.xml ( /alexa-home/setup.xml )
* alexa: requests setup.xml to get base information about the "hub"
* alexa: afterwards a http request is made to a api endpoint where all devices get listed

[2019-07-05 06:59] mabunixda commented on #28
Yes you can input params to update the node information in it. This information is displayed also in the alexa app afterwards.

At the moment you can input as payload objects:
* [brightness](https://github.com/mabunixda/node-red-contrib-alexa-home/blob/master/alexa/alexa-home.js#L85)
* [color](https://github.com/mabunixda/node-red-contrib-alexa-home/blob/master/alexa/alexa-home.js#L79)
* [on/off](

[2019-07-05 10:51] greenkeeper[bot] opened #30 "An in-range update of node-red is breaking the build 🚨"
## The devDependency [node-red](https://github.com/node-red/node-red) was updated from `0.20.6` to `0.20.7`.

🚨 [View failing branch](https://github.com/mabunixda/node-red-contrib-alexa-home/compare/master...mabunixda:greenkeeper%2Fnode-red-0.20.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

node-red is a devDependenc

[2019-07-05 13:20] tribbles3 commented on #28
Thanks!

[2019-07-05 13:27] Ikswoknib commented on #27
hello,

here is the Debug Log:

`
undefined2019-07-05 15:23:11.485  - info: host.1ac3a1a41b87 object change system.adapter.node-red.0
--
2019-07-05 15:23:11.486  - info: host.1ac3a1a41b87 stopInstance system.adapter.node-red.0
2019-07-05 15:23:11.497  - info: node-red.0 kill node-red task
2019-07-05 15:23:12.097  - info: node-red.0 node-red exited with 0
2019-07-05 15:23:12.490  - info: host.1ac3a

[2019-07-06 08:51] tt2g89 commented on #27
I'm sorry to ask again, but I'm not able to get a function to work, that makes dimming of lights work. :(

[2019-07-07 16:39] tribbles3 commented on #28
When using the input I am having trouble getting the msg.payload.on to be output as true.

I send the following to the input:
msg.output = true (boolean)
msg.payload.on = true (boolean)

The output shows msg.payload.on = false

I am sure I am missing something simple here. :)

[2019-07-09 10:16] greenkeeper[bot] opened #31 "An in-range update of node-red-node-test-helper is breaking the build 🚨"
## The devDependency [node-red-node-test-helper](https://github.com/node-red/node-red-node-test-helper) was updated from `0.2.2` to `0.2.3`.

🚨 [View failing branch](https://github.com/mabunixda/node-red-contrib-alexa-home/compare/master...mabunixda:greenkeeper%2Fnode-red-node-test-helper-0.2.3).

This version is **covered** by your **current version range** and after updating it in your project *

[2019-07-17 21:00] cernst1980 commented on #27
node-red Basic-Authentication needs to be disabled. Now it works for me...

[2019-07-28 14:54] fklement commented on #27
Didn't worked for me.
I hadn't set up any authentication for my node-red.

[code]

Am I missing something?

[2019-07-31 13:03] mabunixda commented on #27
@fklement at default no component at node-red is using an authentication

On the dev branch there is already a complete new version coming up using a different mechanism to propagate the information to alexa.
But i already read that also the new devices with screens are using a different mechanism to detect devices and i do not own such a devices :(

[2019-08-02 12:55] gp195 opened #32 "no device discover under some circumstances"
Hi!
First of all thank you for your work.
V1.04 works well with standard Node-Red settings.js.
If I change settings.js to https and user and admin auth, no devices are detected by alexa. This worked well in old versions, before Alexa Controller was introduced.
Also, without this, but activated this line: httpAdminRoot: '/admin', there is the same problem with unvisible devices.

[2019-08-04 20:00] HanSolo72 commented on #27
I have the same problem. I had Version 0.3.5 installed, but last week I reinstalled my complete ioBroker and Node-Red-Environment, also this Alexa adapter in it's version 1.0.4. Since then device discovery didn't work. Now I deleted it and installed the old version 0.3.5 (command as below). Now it works again.

I will not update until the error is fixed. If I can help you, tell me what information

[2019-08-05 05:45] mabunixda commented on #32
Can you try the dev branch?
This version will support your setup.

At the moment this current version on the branch has the limitation that some web component gets not correct restarted ....

[2019-08-05 05:47] mabunixda commented on #27
@HanSolo72 yeah i already rewrote this part in the dev branch ... but there is still a limitation on redeploying which does not always occure :(

[2019-08-05 08:49] gp195 commented on #32
Thank you, but unfortunately no change...

[2019-08-05 08:55] mabunixda commented on #32
@gp195 no change? Do you have any logs available?

[2019-08-06 08:35] gp195 commented on #32
Hi,
I did a Node-Red minimal installation under W10 and was able to observe exactly the same behavior. Node-Red makes the following issues with enabled debug and Alexa search, if everything works:

6 Aug 10:16:22 - [info] Starting flows
6 Aug 10:16:22 - [debug] red/nodes/flows.start : starting flow : global
6 Aug 10:16:22 - [debug] red/nodes/flows.start : not starting disabled flow : 8bb9981c.1c95

[2019-08-06 08:35] #32 closed

[2019-08-06 09:34] mabunixda commented on #32
Ok the httpRoot and httpAdminRoot paths setting will disrupt the detection because alexa devices do not respect subdirectories in their requests. they always send their requests to the root of the webserver.
Because nodered is not available in the root, this setup will fail.

This will be fixed in the next release and is already available in the dev branch

[2019-08-07 10:35] gp195 commented on #32
Not sure where to get actual branch, files in dev are much more older then
in master?

Am .08.2019, 11:34 Uhr, schrieb Martin Buchleitner
<notifications@github.com>:

[2019-08-13 22:34] madbear2000 opened #33 "Ability to update alexa after an change has occured to a light"
Is there any way to let Alexa see the current values for the lights?
It would be really nice to see that after a different device changes the brightness or state

[2019-08-26 09:39] mabunixda commented on #33
@madbear2000 you should be able to see the current value in the alexa app right now

[2019-08-26 09:41] mabunixda commented on #29
@tt2g89 i understand the problem but i do not know if alexa devices support those stuff :-( I already tried to make some progress to report temperature sensors to alexa without success

[2019-08-26 09:59] madbear2000 commented on #33
How do I do that?
Do I need to route the result of a status?
Do I need to modify the JSON to match an output? The docs are not that clear about that part, and there is no good examples?

I had tried most of this and the best I could get was just Aleax reporting on or off but not the color or brightness.

[2019-08-26 10:06] tt2g89 commented on #29
@mabunixda in the meanwhile I found another solution for this issue, thanks. I'll close the issue.

[2019-08-26 10:06] #29 closed

[2019-08-27 11:35] mabunixda commented on #16
@jaburges are you running the old version and new version in docker?

[2019-08-27 20:24] derSebbl commented on #16
I'm having the same issue, alexa is not able to discovery any devices.
I'm running node-red on linux mint, without docker.

The controller on the node-red webpage is displaying "setup requested".

Debug Output:
[code]

[2019-08-28 14:42] #31 closed

[2019-08-28 14:42] #30 closed

[2019-08-28 14:43] mabunixda commented on #25
@Lyve1981 version 1.1.0 contains the fix

[2019-08-28 14:43] #25 closed

[2019-08-28 14:45] mabunixda commented on #27
@cernst1980 with 1.1.0 also works with basic authentication cofnigured node-red installations

[2019-08-28 14:48] mabunixda commented on #28
@tribbles3  can you retest with version 1.1.0?

[2019-08-28 14:49] mabunixda commented on #33
Is [this](https://github.com/mabunixda/node-red-contrib-alexa-home/issues/28#issuecomment-508653120) helpful?

[2019-08-28 14:51] mabunixda commented on #16
The ssdp discovery and also http information is now handled in another way on version 1.1.0. Please retest your installations with this version.
The new version is better capable of higher amount of items.

[2019-08-28 15:16] derSebbl commented on #16
Unfortunately, my installation is still not able to discovery any devices using version 1.1.0.

Flow:
![Bildschirmfoto vom 2019-08-28 17-16-33](https://user-images.githubusercontent.com/12809051/63868916-9ce59300-c9b7-11e9-8d94-893167385721.png)

Debug Output:
[code]

Wireshark:
![Bildschirmfoto vom 2019-08-28 17-14-51](https://user-images.githubusercontent.com/12809051/63868793-69a30400-c9b7-11e9

[2019-08-28 16:01] mabunixda commented on #16
@derSebbl Can you get me the output of http://192.168.178.200:60000/alexa-home/setup.xml ? remembering wireshark output correct 200 is your computer and 112 the alexa device?

From your log and the output the registration process stops after fetching the setup information and no data about the nodes is requested from alexa. There might be a problem again with the correct ip in this document.

What

[2019-08-28 16:02] mabunixda commented on #27
I gonna close this issue because it duplicates #16  for now

[2019-08-28 16:02] #27 closed

[2019-08-28 17:43] derSebbl commented on #16
Yes, you are correct about the IPs.
200 is the desktop and 112 is the echo dot.

Here you go, output from setup.xml:

[code]

The "HTTP/1.1 200 OK" request contains the following payload:

[code]

[2019-08-28 17:54] mabunixda commented on #16
@derSebbl ok - you are running nodered on https?
Can you try following request: https://192.168.178.200:60000/api/x/lights ?
If this request works, i might disable that https configuration from nodered is also forwarded to the webserver which is started for alexa communication.

Could you do this test also to disable your https config, if there is any change?

[2019-08-28 17:57] derSebbl commented on #16
I haven't changed anything https related, so I don't think that I'm running the service as https...
I'm pretty much running a fresh installation of node-red with only a few modules installed.

The request url doesn't work, the output is:
[code]

[2019-08-28 17:59] derSebbl commented on #16
The section about https: {} is not active (commented out), check the attached file:
[settings.js.txt](https://github.com/mabunixda/node-red-contrib-alexa-home/files/3552258/settings.js.txt)

[2019-08-28 18:00] mabunixda commented on #16
which node and npm versions are you using?

[2019-08-28 18:03] derSebbl commented on #16
Don't know how to check that, I'm fairly new to linux, could you please give me a hint?

[2019-08-28 18:04] mabunixda commented on #16
should do the job

[2019-08-28 18:05] derSebbl commented on #16
node --version: v12.8.0
npm --version: 6.11.2

[2019-08-28 18:28] mabunixda commented on #16
@derSebbl can you try the request without https again?

[2019-08-28 18:31] derSebbl commented on #16
http://192.168.178.200:60000/api/x/lights returns the following:
[code]

Also the controller node in node-red switches to "lights list requested: 1" when opening that link manually.

[2019-08-28 18:33] derSebbl commented on #16
Could this be a networking related issue? I'm also unable to get the module "node-red-contrib-alexa-local" to work on my setup, even though I were able to successfully use it last week on another network / pc.

[2019-08-28 18:57] mabunixda commented on #16
according to your logs aexa is detecting the installation by ssdp via udp. the provided information is forwarded about setup.xml was correct forwarded to alexa ( with http ) and setup.xml was fetched by alexa. but somehow alexa does not fetch the information about the devices. the baseurl  in  setup.xml was on https and misleading but should not affect this. i fixxed this within 1.1.1

you might u

[2019-08-28 19:04] derSebbl commented on #16
Tried version 1.1.1, updated settings.js to display debug messages.
No change yet, log:

[code]

[2019-08-28 19:08] mabunixda commented on #16
Please Just Install one Alexa node. This might create awesome Side effects in all  nodes.
I saw 3 different Alexa nodes

Am 28. Aug. 2019, 21:04, um 21:04, Sebastian Michel <notifications@github.com> schrieb:

[2019-08-28 19:13] derSebbl commented on #16
Got confused by the package id not being updated (still 1.1.0 instead of 1.1.1).
I deleted the comment because I thought I didn't install the correct module.

Log with only one Alexa device and version 1.1.1:

[code]

[2019-08-28 19:46] derSebbl commented on #16
Let me know if I can help you any further by providing additional information.
I really want to get this module working ;)

[2019-08-28 21:28] biddster opened #42 "Controller node missing"
I'm using node-red 1.0.0 beta3 with version 1.1.0 of this node and the controller node is missing from the palette. If I roll back to 1.0.4, the controller node re-appears and everything works correctly.

[2019-08-28 21:36] nepeee commented on #16
Same problem but For me, there is a tcp server on port 60000 but it don't respond to the http request:
netstat -ltnp | grep -w ':60000'
tcp6       0      0 :::60000                :::*                    LISTEN      10783/node-red

 wget http://localhost:60000/api/x/lights
--2019-08-28 21:34:45--  http://localhost:60000/api/x/lights
Resolving localhost (localhost)... ::1, 127.0.0.1
Connecting to l

[2019-08-28 21:41] nepeee commented on #42
Try to install the express module & restart node-red.
npm install express

[2019-08-29 05:01] mabunixda commented on #16
@nepeee which node/npm version are you using?

[2019-08-29 05:56] holomekc commented on #16
For me it also does not work. When i have https configured I see no logs regarding alexa during discovery. When I use http I can see logs indicating that setup.xml is requested.

I use:
Node-Red: 0.20.7
Node.js: 11.15.0
Npm: 6.7.0

Version 1.1.1 is not published yet or is it?

[2019-08-29 07:34] derSebbl commented on #16
Version 1.1.1 is already available here on github, check the releases tab:
https://github.com/mabunixda/node-red-contrib-alexa-home/releases

To install it:
- remove old version using `sudo npm uninstall node-red-contrib-alexa-home`
- `cd` into folder of version 1.1.1
- `sudo npm link`

[2019-08-29 07:57] derSebbl commented on #16
@mabunixda the only alexa plugin which is working on my setup is:
https://github.com/datech/node-red-contrib-amazon-echo

you might wanna check on how they implemented the communication between alexa and the module

[2019-08-29 08:04] mabunixda commented on #42
i missed to insert express before 1.1.1 in the package.json as dependency. Please retry with this version.

[2019-08-29 08:20] derSebbl commented on #16
@mabunixda
Trying to find out if I can get it to work, I forwarded port 80 on my pc to port 60000 using:
`sudo iptables -t nat -I PREROUTING -p tcp --dport 80 -j REDIRECT --to-ports 60000`

This results in an additional successful step in registration.
Alexa is still saying "I could not find any new devices", but the function `AlexaHomeController.handleRegistration` is now called (the node in node

[2019-08-29 08:29] mabunixda commented on #16
The bad thing is that all versions are working on my deployment using docker and also in the dev environment i am using - but this is also a docker based stuff :-(

Yeah i gonna work through this with wireshark and also a local installation of nodered

[2019-08-29 08:36] derSebbl commented on #16
As the next api calls are dependent on a "username" (as far as I understand the code), username should not be undefined right?
In handleRegistration the variable "request.params.username" is undefined, resulting in this json response:

[code]

[2019-08-29 08:42] mabunixda commented on #16
Alexa devices are quite dump and are not depending on the standard communication definition of hue devices. If they would, then this call should be on port 60000 :(
To overcome your port redirection you can start node-red with ALEXA_PORT=80

[2019-08-29 08:55] derSebbl commented on #16
how do I do that exactly? sorry, I'm not experienced in node-red at all...

[2019-08-29 09:43] derSebbl commented on #16
Just fyi: This is definitely a Echo Gen 3 related issue.
People having the same issue in other projects, e.g. https://github.com/bwssytems/ha-bridge/issues/1022

[2019-08-29 10:09] mabunixda commented on #16
yeah already got this but it is hard to test without this device :(
I gonna review those changes ...

[2019-08-29 10:52] mabunixda commented on #16
@derSebbl Can you do add following line in _alexa-home-controller.js / handleRegistration_

and post the output ?

In the meantime i am adding a fix to this routine.

[2019-08-29 10:59] derSebbl commented on #16
Sure thing, here you go:
JSON.stringify(request.body) in handleRegistration outputs:
`{"devicetype":"Echo"}`

[2019-08-29 11:17] mabunixda commented on #16
damn it ... no user in the request :(

[2019-08-29 11:50] mabunixda commented on #16
@derSebbl Can you try version 1.1.2 with Environment variable ALEXA_PORT=80 and maybe also without this set?

does the job ...

[2019-08-29 12:09] derSebbl commented on #16
With command:
`node-red start`
It's still stuck at:
[debug] Alexa Controller/0 - Handling setup request

With
ALEXA_PORT=80 node-red start
I get:
[code]
This is the same error message as in this module:
https://github.com/datech/node-red-contrib-amazon-echo/wiki/Troubleshooting

Port 80 does not seem to be available for non root users, so using this module with Echo Gen 3 still requires port forwa

[2019-08-29 12:11] mabunixda commented on #16
@derSebbl yes because of that i did not change the default port. ports < 1024 can only used by root or with some extra settings.

So the fix works for you when also making the alexa available on port 80?

[2019-08-29 12:16] derSebbl commented on #16
Yes, username is not undefined anymore.
The fix regarding the username was copied from the https://github.com/datech/node-red-contrib-amazon-echo repository, it's using the exact same username.

So using version 1.1.2 with port forwarding like this is working:

Thanks for your effort

[2019-08-29 12:21] mabunixda commented on #16
@derSebbl yes i cloned the username but it would be possible to persist the later used username - somehow ... but this would require that i purchase a gen3 device :(

I gonna do a change of the readme.

[2019-08-29 12:50] mabunixda commented on #42
@biddster please retry with version 1.1.2 - there this issue is definitly fixxed

[2019-08-29 12:50] #42 closed

[2019-08-29 13:00] tribbles3 commented on #28
I would be happy to send you a donation so that you can purchase a Gen 3 device. Please let me know if you are interested.

[2019-08-29 13:11] mabunixda commented on #28
@tribbles3 i added sponsoring to github project ... you are welcome :)

[2019-08-29 13:36] tribbles3 commented on #28
Sent. :)

[2019-08-29 13:36] #28 closed

[2019-08-30 15:05] madbear2000 commented on #33
Hi mabunixda,
Thats is the page that I followed before raising this ticket. Its useful but not enough.
It does not state it the data format in the message. Ie should it be in msg.payload or msg,payload.data.
Should each element be a JSON object or a field.
For the brightness is that in percentage or integer values.
For the colour is it the xy field?
Just linking to your code is not great documenta

[2019-08-30 20:30] nepeee commented on #16
@mabunixda

I had node.js 8.5.x before, updated everything now i have:
node.js v11.15.0
npm 6.11.2
node-red v0.20.7
alexa-home 1.1.2
Echo Dot gen2 with sw version 645583020
After the update the web server on port 60000 started to respond.

I also needed to add the iptables rule for port 80, before that the pairing process stopped at the 'Handling setup request' part.

It's still not working, now i

[2019-08-30 21:27] nepeee commented on #16
Update:
I tested the node-red-contrib-amazon-echo it works on port 80 with root and also with the iptables redirect.

[2019-08-31 09:50] derSebbl commented on #16
@nepeee could you please post the content of: http://localhost:60000/api/c6260f982b43a226b5542b967f612ce/lights
(Or your machine's IP instead of localhost)

After that, please try the following steps:
- delete "alexa home controller" node from your flow
- create a new "alexa home controller" node
- add a new "alexa home" node in node-red, name it
- search again.
Please post the output of that.
Is

[2019-08-31 14:03] nepeee commented on #16
It's in the linked pastebin log:

Already did this before the pastebin log is captured.

[2019-08-31 14:22] holomekc commented on #16
What I did to get it working, because mentioned solution did not help me:

- port 80 and redirection was not necessary
- changed code so that alwas http is used. Https was not working because I use self-signed ones
- changed templates for list and get-state
-- removed last:{} and created a dummy entry with a stupid name which I do not use
-- added uniqueid and more fields by checking actual hue de

[2019-08-31 18:30] bsnoop commented on #16
@holomekc Would you mind telling exactly what you changed where. I would like to try this also. Thank you!

From one day to the other, all of the sudden all my nodes stopped working and Alexa tells me the devices are not responding.

[2019-08-31 19:09] mabunixda commented on #16
Yeah i removed many information to Strip the Output to a Wirkung Minimum of gen2 devices.
On monday i geht my funded gen3 device and will start to Test and fix

Can you Update the issue AS already requested Witz the information and i gonna fix this for all

Am 31. Aug. 2019, 16:22, um 16:22, holomekc <notifications@github.com> schrieb:

[2019-08-31 21:23] holomekc commented on #16
Hi sry for my late response but i was on the road for 6h...

...alexa/templates/items/list.json
**c6cb6810029ef**: is basically a replacement for last:{} and of a different type so that alexa does understand it but you cannot really do something with it. I copied it from my osram plugs.

`{
  {{#lights}}
    "{{ id }}": {
        "state": {
            "on": {{ on }},
            "bri": {{ bri }},

[2019-09-01 03:43] nepeee commented on #16
Fixed it based on the node-red-contrib-alexa-home json templates and @holomekc comment.
No need for dummy items:
list.json:

get-state.json:

Everything works well for me except i got a "Device doesn't support requested value" label for the light in the android alexa app. (does not affect operation)

[2019-09-01 05:15] nepeee opened #45 "Android Alexa app incorrectly shows off state after the light is turned on"
If you turn off the light in the app everything is ok, the app shows that it is turned off. But after that if you set it on the app shows that it is off.

The problem is caused by that the code is setting the brightness to 255 but the allowed maximum is 254 as in documented in the hue api specification:

Solution:
Simply replace the 255 in all javascript files to 254.

Also please don't change the

[2019-09-01 05:16] nepeee commented on #16
Update, the "Device doesn't support requested value" warning in the app is fixed by me see the "Android Alexa app incorrectly shows off state after the light is turned on" issue.

[2019-09-01 07:59] tt2g89 opened #46 "After update to 1.1.x the device-nodes have to be rebuilt"
**Describe the bug**
Updated from 1.0.4 to 1.1.x, last one was 1.1.2. I have to rebuild every node, because the hub seems to have lost the device ids of the device-nodes
**To Reproduce**
Steps to reproduce the behavior:
install 1.0.4, update to 1.1.2. Try to turn on a light.

**Expected behavior**
Lights switch on or off

**Desktop (please complete the following information):**
 - Alexa Devices ge

[2019-09-02 06:33] mabunixda commented on #45
fixxed with commit #47 and will release it with fix of #46

[2019-09-02 06:33] #45 closed

[2019-09-02 06:35] mabunixda commented on #46
@tt2g89 what do you mean with rebuilding nodes?

[2019-09-02 06:46] tt2g89 commented on #46
@mabunixda I had to copy and paste every device node, i.e. Treppenhausbeleuchtung and delete the old ones and link the nodes to the hub and to the loxone-device, which has to be switched and then had to delete the devices in alexa and research for them in order to get it to work again.
I debugged the hub and the device and found out, that before doing so, the hub got the command, but the device-no

[2019-09-02 12:24] mabunixda commented on #33
yeah correct- that was just a quickfix ...
i gonna create a wiki page about this topic asap!

[2019-09-02 12:31] #16 closed

[2019-09-04 13:33] #46 closed

[2019-09-04 13:33] tt2g89 commented on #46
was a problem in my infrastructure.

[2019-09-06 05:05] Tranquility76 opened #51 "After updating to 1.x only listening on IPv6 interface"
Helllo,

while having the same issues as described in #16 I did some research and figured out, that node-red is only listening on TCP 60000 on the IPv6 interface.

With this "iptables -t nat -I PREROUTING -p tcp --dport 80 -j REDIRECT --to-ports 60000" cannot work a it is an IPv4 rule.

On the other side it is listening on UDP 60000 at the IPv4 interface.

I was not able to figure out why the cont

[2019-09-06 06:13] mabunixda commented on #51
@Tranquility76 but node-red is listening on all ipv4 only?
Normally the output is just for ipv6 listed even when ipv4 is also listening.

Did you try a curl http://127.0.0.1:6000/ ?

[2019-09-06 09:07] Tranquility76 commented on #51
Okay, curl and test-netconnection (Powershell from a remote system) show that TCP 60000 is open. Strange that netstat is showing the listening port for IPv6 but not IPv4 …

curl http://127.0.0.1:60000
<html>

<head>
    <title>0 - Alexa Hub node</title>
</head>

<body>
    Id: 0
    <br/> UUID: f6543a06-da50-11ba-8d8f-7b92fedbdd29
    <br/> BaseURL: http:&#x2F;&#x2F;127.0.0.1:60000
    <br/>
</bod

[2019-09-06 09:12] mabunixda commented on #51
On the latest version of the node you can also change the port of the hub to 80 and remove the iptables statement - so you could remove 1 component of complexity ...

Can you post the http requests to the alexa-controller of the logfile of node-red?
Or you can change the logging details to debug to get more information.

At the moment i get no problems on my setup with gen2 and gen3 devices

[2019-09-06 10:20] greenkeeper[bot] opened #52 "An in-range update of node-red is breaking the build 🚨"
## The devDependency [node-red](https://github.com/node-red/node-red) was updated from `0.20.7` to `0.20.8`.

🚨 [View failing branch](https://github.com/mabunixda/node-red-contrib-alexa-home/compare/master...mabunixda:greenkeeper%2Fnode-red-0.20.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

node-red is a devDependenc

[2019-09-06 12:24] Tranquility76 commented on #51
6 Sep 14:18:59 - [info] [alexa-home-controller:Alexa Controller] 80/GET -> /alexa-home/setup.xml
6 Sep 14:19:00 - [info] [alexa-home-controller:Alexa Controller] 80/POST -> /api
6 Sep 14:19:00 - [info] [alexa-home-controller:Alexa Controller] 80/POST -> /api
6 Sep 14:19:00 - [info] [alexa-home-controller:Alexa Controller] 80/GET -> /api/c6260f982b43a226b5542b967f612ce/lights
6 Sep 14:19:00 - [info

[2019-09-06 12:31] mabunixda commented on #51
Can you post the output of "/api/c6260f982b43a226b5542b967f612ce/lights" ?

[2019-09-06 12:35] Tranquility76 commented on #51
{"97f61e1e505": {"state": {"on": false,"bri": 254,"hue": 0,"sat": 254,"effect": "none","xy": [0.0,0.0],"ct": 199,"colormode": "ct","reachable": true,"alert":"none","mode":"homeautomation"},"swupdate": {"state": "noupdates","lastinstall": "2019-09-06T12:34:25"},"type": "Extended color light","name": "Gästebad","modelid": "LCT007","manufacturername": "Philips","productname": "Hue color lamp","swvers

[2019-09-06 12:40] mabunixda commented on #51
interessting - i expected more umlaute ;-)  So the node "Gästebad" is detected correct?
When i review the 2 log outputs both types you are using are detected within those 3 items?
Or did i miss something and just 1 type of items is available in alexa?

Which node/node-red/alexa version/generation are you using?

[2019-09-06 12:48] Tranquility76 commented on #51
😃

„Gästebad“ is detected and working with no type configured in the node.
„AppleTV“ is detected and working with type „dimable light“ in the node.

I already played around with the type in the node settings but it does not matter.

Node-RED Version: v0.20.8
Node.js  Version: v10.16.3
NPM version: 6.10.2

Alexa Echo Gen2 / Alexa Dot Gen2 and Gen3 (log output was done with Dot Gen3)

Von: Martin Bu

[2019-09-07 18:01] guardiande opened #53 "Discovery of new devices does not work"
**Describe the bug**
I used to have the Alexa Local Node Red flow until it stopped working yesterday.

After some time I found this flow and understood that it seems to have to do with firmware changes on the Alexa side.

Here's my setup:

- Remote installation at my mother's place (which complicates debugging somewhat)
- 1 Sonos Beam (mostly used by my mother)
- 1 Alexa Echo Dot 2nd Gen.

History

[2019-09-07 18:39] guardiande commented on #53
Maybe a few more details:

I have the same setup at my own place and switched from Alexa Local to Alexa Home today. Up until now discovery works fine over here. Even though I have lots more of devices (166 vs. 20).

The number 20 caught my interest as I read somewhere that new hub spawn dynamically each 20 devices. Could that be a problem?

[2019-09-08 07:53] godofglow commented on #53
same proble. Also with other Alexa nodes.

[2019-09-08 12:50] guardiande commented on #53
A workaround seems to be to delete the alexa home node that don't get discovered and add them again. This sometimes does not work on first try.

[2019-09-08 14:40] godofglow commented on #53
I tried the 'alexa home node' . Some (realy devices) was found, but the most are not be able to control. The rst of the devices was not found

[2019-09-09 06:40] cymplecy commented on #53
Just tried this out on a Pi4 - using iptables to redirect port 80 - Alexa does not discover my device - it looks as if its trying but never suceeds
![image](https://user-images.githubusercontent.com/2357428/64508310-11340680-d2d5-11e9-8165-c92cf1c892f2.png)

[2019-09-09 07:09] godofglow commented on #53
Same here. I did the same test with the same result

[2019-09-09 16:28] xilef111 commented on #53
I have the same problem here. Alexa Controller configured to use Port 80 ans says OK, but no devices are dicovered if I start the search
![image](https://user-images.githubusercontent.com/55101855/64548616-48370600-d32f-11e9-8ddf-fe660b65daa4.png)

If you need some special logs, tell me where I can find them and I will post the here

[2019-09-09 18:49] LakeCruiser commented on #53
Ok, I broke down and subscribed to the HA Cloud.  307 devices discovered!  $5 per month is a small price to pay for what I have been through the past two weeks! 🤯

[2019-09-10 07:00] jpmrodrigues commented on #53
Hi, I have a similar problem. I have 25 devices on my node-red instance but when I request a discovery it only finds the same 3.

I also have a few of these messages in node-red debugging window: ""unknown alexa node of type lights was requested: 9d49c8da649938""

[2019-09-10 16:11] guardiande commented on #53
Even with the workaround of deleting and re-adding nodes it still is unstable: Already discovered devices suddenly stop working and new devices cannot be discovered.

[2019-09-10 16:36] guardiande commented on #53
This might be part of the problem: Alexa Home seems to advertise on different ports (60000 - 60002 in this case).

[code]

Not sure if this is related to spawning a new hub for every 20 devices.

[2019-09-10 16:39] guardiande commented on #53
Ok, here's the proof:

[code]

I guess this does not go well together with Alexa expecting Hue bridge to be available on port 80. I cannot forwand port 80 to many ports.

[2019-09-10 16:46] mabunixda commented on #53
When old devices do net get recognized: is there anything in the logs that there is already something listening on port xy?

alexa-home starts per 25 nodes a seperate http-Hub because alexa devices ( at least till gen2 ) were not able to fetch larger responses. I gonna retest this with gen3 devices and also once again gen2 devices if that is the problem.

I still do not know how other fix those pr

[2019-09-10 17:35] jpmrodrigues commented on #53
I sure hope that this isn't the issue but I just read this in Philips Hue page:

[2019-09-10 17:52] mabunixda commented on #53
Now i am also using gen2 echo dots ...

But i just noticed that the alexa web interface declares my nodes as different items now. Donot know i just the interfaces and texts changed only :(

[2019-09-10 19:37] Rmafive commented on #53
I'm using a gen 1, 2, and 3 Echo dot and seeing the same issue.

[2019-09-10 19:55] guardiande commented on #53
Things are getting worse: Now most devices don't work and new devices do not get discovered.

Here's some network traces:

[code]

Here Alexa asks for devices that don't seem to exist anymore:

[code]

This is the query to enumerate lights, the answer (not shown) seems legit, all lights seem to be included:

[code]

Here's an example of switching one of the few working lights on and off:

[code]

[2019-09-11 20:42] guardiande commented on #53
Here are today's findings:

* I have 4 Alexa devices but only one seems to be able to initiate discoveries (verified by switching off all but one device and snooping on the network traffic).
* All tests were done after forgetting all devices through the web ui every time.
* When this one device is not switched on only my real Hue devices are found. This even works when all Alexa devices are switch

[2019-09-13 07:40] paulwhitmore commented on #53
I have updated nodejs and node-red to the latest versions, and updated alexa-home to version 1.1.3 and my Echo Dot Gen 2 will not discover any new devices. I guess I'm seeing the same problem as everyone else. Is this something that will be fixed - or have Amazon stuffed it up ?

[2019-09-13 08:31] mabunixda commented on #53
I was quite busy the last days...

IMO is that amazon deployed a change and this affects the current implementation and the node must be adapted to this change...

[2019-09-13 11:35] greenkeeper[bot] opened #54 "An in-range update of mustache is breaking the build 🚨"
## The dependency [mustache](https://github.com/janl/mustache.js) was updated from `3.0.3` to `3.1.0`.

🚨 [View failing branch](https://github.com/mabunixda/node-red-contrib-alexa-home/compare/master...mabunixda:greenkeeper%2Fmustache-3.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mustache is a direct dependency o

[2019-09-13 15:27] guardiande commented on #53
@mabunixda Could assigning the Alexa devices randomly to the spawned hubs work as a workaround to overcome the device limit and hubs not running on port 80 problem?

Not the best thing but eventually all devices would be discoverable:

* Restart flows (devices get assigned to random hub and eventually to that running on port 80).
* Discover devices.
* Repeat until all devices got discovered.

This

[2019-09-13 18:43] Jibbonator commented on #53
So Here is my Workaorunnd/ Fix for me

My System runs on IoBroker with a Node Red instance.
I Use this node Red Module : https://flows.nodered.org/node/node-red-contrib-amazon-echo
This Module works local without any Cloud Connection.

But i could not assign Port 80 to the "Amazon Echo Hub" from the new Module.
So i routed my Port 80 tcp and udp to another Port.(In my Case 1880, but you can choose

[2019-09-13 19:09] guardiande commented on #53
@Jibbonator How many Alexa nodes do you have in use?

[2019-09-13 19:37] Jibbonator commented on #53
I have 12 nodes. If you want i could create more nodes and Test it tomorrow. Just say how much.

[2019-09-13 20:00] guardiande commented on #53
That would be great! mabunixda stated that at least the older Echos have had problem with more than 25 devices. If it is not too much to ask it would be awesome to have something like 40 devices :-)

[2019-09-14 02:01] greenkeeper[bot] opened #55 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `6.3.0` to `6.4.0`.

🚨 [View failing branch](https://github.com/mabunixda/node-red-contrib-alexa-home/compare/master...mabunixda:greenkeeper%2Feslint-6.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this pro

[2019-09-14 07:26] Jibbonator commented on #53
@guardiande
Hey my testing is done. I have two Echo Dot 2nd Gen.
I quadrupled my 11 Nodes and gave the Rest numbers(13-44). Created 44 Nodes in one Flow in total.
My Echo Dot 2nd Gen discovered 47 Devices (2 Dots and 1 TV extra) on first try.

I´ve tried a few commands an all worked flawlessly.
Like "Turn 13 on" and then "Turn 24 off". Same Action but differnet Numbers.

Hope it solved your questi

[2019-09-14 07:33] egs2003 commented on #53
@Jibbonator I don't understand your attempt. You are using a node from another developer. node-red-contrib-echo and node-red-contrib-home have nothing to do with each other? Or am I wrong?

[2019-09-14 07:39] Jibbonator commented on #53
@egs2003
That´s absolutely right. I just found a working solution to solve the\my Problem. I just wanted to share, that there is a working way. Most people don´t have enought time or WAF to wait until this Node is updated. :)

[2019-09-14 10:35] guardiande commented on #53
@Jibbonator Thank you very much. It seems that the Amazon Echo node does not have the same limitation as this node has.

So it might be a workaround for people not having luck with this node for the moment.

[2019-09-14 10:50] Gieskanne commented on #53
There is also a difference whether Node-RED is installed in stand-alone or used in ioBroker. In ioBroker I had no luck to run this node ("node-red-contrib-alexa-home") or even "node-red-contrib-alexa-local". But the "node-red-contrib-amazon-echo" node does work inside the Node-RED ioBroker adapter for me. That is why the solution by @Jibbonator should help most people. BTW: why are there multiple

[2019-09-14 18:47] egs2003 commented on #53
It's great when people can be helped. However, we and the developer of this node want to find out why this node doesn't work. So it would be interesting to know what makes node...echo different from node...home.

[2019-09-15 09:03] Jibbonator commented on #53
For everyone who needs help or want to talk about the solution to use
node-red-contrib-amazon-echo.
here is a Discord server, so this issue Topic is less full

And the Manual will be updated for better understanding on the Discord

https://discord.gg/Turn7Mm

[2019-09-16 21:52] lovicub opened #56 "payload.xy Color XY object is missing in msg.payload & Device unresponsive when color used"
payload.xy Color XY object is missing in msg.payload.

I've created a device with name "scene". Before update to 1.1.3 i've used it to change colors of some hue bulbs. If i said "scene red" - some bulbs were changed to red. After update to 1.1.3 if i say "scene red" alexa says that device didn't responded - BUT - the information was anyway sent:
(debug)
payload: object
hue: 43690
sat: 254
bri: 254

[2019-09-21 09:00] kas2 commented on #53
Hi mabunixda,
I did enjoy your node for a few weeks until it broke recently
Please confirm if your are able/willing to fix it
Thanks again for this great work

[2019-09-23 12:38] mabunixda commented on #56
sent anyway -> the output in the node is generated and sent to linked nodes?

[2019-09-23 12:40] mabunixda commented on #53
Thanks for all the input. quite busy days on day-job ;-)

I hope i can fix this sh*t again in the next days. Such kind of a problem already occured at least once in the past

[2019-09-24 13:05] mabunixda commented on #56
ok could reproduce this bug today

[2019-09-24 13:07] mabunixda commented on #53
right now i can reproduce 2 different ( or even 3 ) different behaviors:
* no discovery on node version < 10
* discovery working on node version = 10
* no output of nodes in node version = 10 ( #56 )

I am working on the problems

[2019-09-24 13:08] #55 closed

[2019-09-24 13:08] #54 closed

[2019-09-24 13:09] #52 closed

[2019-09-26 07:32] Sk4zz opened #57 "Allow to bind to specific IP"
I'm using alexa-home on a Raspberry Pi which is also running deconz and piHole. I have configured two virtual network adapters on the pi so that the Pi is reachable at 192.168.2.10,11 and 12. Each of the services (deconz, pihole, nodered) is listening on a separate IP adress because (so far) both, deconz and pihole need to be reachable at port 80.

I used to have alexa-home listening on port 60000

[2019-09-29 05:50] greenkeeper[bot] opened #58 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `6.4.0` to `6.5.0`.

🚨 [View failing branch](https://github.com/mabunixda/node-red-contrib-alexa-home/compare/master...mabunixda:greenkeeper%2Feslint-6.5.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this pro

[2019-09-29 12:59] apedance opened #59 "Unable to install"
Hey,

I am unable to install your node because there is "node-red-contrib-alexa-home-skill" already installed in node red which can not be uninstalled.

[2019-10-01 08:44] mabunixda commented on #59
yes .. 2 alexa nodes cannot be used at the same time

[2019-10-01 08:45] mabunixda commented on #57
Yeah i gonna redo this feature again

[2019-10-01 11:38] mabunixda commented on #56
still working - items get information and also forward the information but it seems that the response to alexa is not correct because the device gets marked as failed after a color update

[2019-10-01 11:54] #58 closed

[2019-10-01 11:54] mabunixda commented on #57
you must set ALEXA_IP to restrict binding to dedicated IP instead to all devices

[2019-10-01 11:54] #57 closed

[2019-10-01 11:55] mabunixda commented on #51
You might try to bind the hub to a dedicated IP with an env variable **ALEXA_IP** ... otherwise i think this i more a detection/communication problem as in #53

[2019-10-01 11:55] #51 closed

[2019-10-01 11:57] mabunixda commented on #53
I hate that comments  automated close issue with fixxed keywords 👎

Please retry your setups with version 1.2.0, a limitation on setting colors is still present!
But on/off and dimming work as expected in my setup with node 0.20.8 and nodejs 10

[2019-10-01 11:57] #59 closed

[2019-10-01 13:29] Sk4zz opened #62 "New bind to IP feature is not working correctly"
Thank you very much for implementing the "bind to IP" feature! I have updated alexa-home to the latest version and set `Environment=ALEXA_IP=192.168.2.12` and `Environment=ALEXA_PORT=80` using `systemctl edit nodered.service`

Upon restart, nodered reports the following:
[code]

When I search for new devices in Alexa, I get
[code]
And no new devices turn up.

Am I doing something wrong or is there

[2019-10-01 16:27] apedance commented on #59
and how can I get rid of the old one?

[2019-10-01 17:04] Tranquility76 commented on #53
With 1.2.0 same issue - only 4 out of 15 devices are discovered. :-(

[2019-10-01 19:58] Sk4zz commented on #62
I hat the problem that node-red failed to bind to port 80 and crashed when I set Port 80 in the controller properties, reporting `Error: listen EACCES: permission denied 192.168.2.12:80`

The reason was that node-red was not running with root privileges but I found an answer here [https://stackoverflow.com/questions/9164915/node-js-eacces-error-when-listening-on-most-ports](https://stackoverflow.c

[2019-10-02 05:29] mabunixda commented on #62
Get all devices detected also?
How many devices do you have configured?

[2019-10-02 05:50] mabunixda commented on #53
@Tranquility76 are you using iptables setup or changed the controller port?

With 1.2.0 you can setup the controller port with its controller configuration

[2019-10-02 07:02] Sk4zz commented on #62
Hmm... Now that you mention it. I have two devices configured right now, but only one of them is discovered. I will have some time for further debugging in the afternoon.

[2019-10-02 12:32] Sk4zz commented on #62
I did some digging but I could not come up with much. I now have 3 devices configured but only one device is found by Alexa. I have tried the following:

1. remove the device from Alexa and search again
2. remove the device from nodered and search again
3. remove the controller node, deploy, add a new controller node and search again.

The results were as follows:
[code]

The content of `/alexa-ho

[2019-10-02 13:04] mabunixda commented on #62
the alexa discovery workflow has following steps
* upnp broadcast
* request setup.xml
* post to /api/ the information about the device
* request /api/<username>/lights for information about all devices
* request /api/<username>/lights/<deviceId> for information about each device

Do you see requests on /api/<username> in the logs?
Can you review if each device in /api/<username>/lights is requeste

[2019-10-02 13:23] Sk4zz commented on #62
I have again tried removing the `Stereoanlage` node and reinserting it. Now, no devices are found by alexa. I can see the POST to /api and the GET to /api/lights but no further GET to the indivudual lights (before it was only requesting one light, although more were configured)

The json data of /api seems fine to me (thanks for the link!). The only point is that all lights have the same `uniqueid

[2019-10-02 20:30] Tranquility76 commented on #53
I never used iptables, always used the default controller port 80…

If I do the discovery I can see requests to the controller but it seems not all devices are requested when it comes to the details per device request.

From: Martin Buchleitner <notifications@github.com>
Sent: Wednesday, October 2, 2019 7:51 AM
To: mabunixda/node-red-contrib-alexa-home <node-red-contrib-alexa-home@noreply.github.c

[2019-10-03 05:38] mabunixda commented on #62
@Sk4zz are you using gen2 or gen3 alexa device?

[2019-10-03 05:40] mabunixda commented on #53
@Tranquility76 are you using gen2 or gen3 device? can you verify which device is doing the discovery? an IP should be listed in the logs ( and yes, at the moment there are massive logs :( )

[2019-10-03 08:12] Tranquility76 commented on #53
I gave the „discover new devices“ command to a Echo Dot Gen3 and in the log I could see requests from the Echo Dot Gen3 AND two Echo Gen2 AND from my Echo Dot Gen2.

So all of my devices (Gen2 and Gen3) started the discovery.

Tried then the discvovery from my Alexa app – same result. App started discovery and all 4 Echo devices could be seen in the logs…

Von: Martin Buchleitner <notifications@gi

[2019-10-03 08:15] Tranquility76 commented on #53
Did another test – turned off the Gen3 Echo Dot and started discovery from the app:

All three Gen2 devices showed up in the log doing the discovery… (and did not find any new device – only the 4 already discovered)

Von: Martin Buchleitner <notifications@github.com>
Gesendet: Donnerstag, 3. Oktober 2019 07:40
An: mabunixda/node-red-contrib-alexa-home <node-red-contrib-alexa-home@noreply.github.co

[2019-10-03 09:12] kas2 commented on #53
Hi
I still cannot discover devices using default 60000 port

Which log file are you referring to and how to access it ??
Thanks

[2019-10-03 09:39] Sk4zz commented on #62
I have a gen.2 echo dot and a gen.3 echo. I am starting the discovery from the web UI or the alexa app and I can confirm that both devices are doing the discovery. Both devices are `GET`ting the setup.xml, are `POST`ing to /api and again `GET`ting from \api\xxxxxxx\lights. But the individual lights are not being requested. Attached is again my api-JSON this time properly formatted. I can't see any

[2019-10-15 17:53] all-solutions commented on #53
Hi all,
I think at the moment there is no solution for that. At the moment Amazon is playing around every day with an other "feature". I have Hue and WEMO devices in my configuration. Today all devices with umlauts have only hieroglyphs in the name. I've send a message to Amazon and received that answer:

[english translation]

[2019-10-23 14:08] Sk4zz commented on #62
I have moved my node-red installation to my Pi4 which hosts my homeassistant installation (hassbian) because there is no conflict with port 80 and hence no need to use virtual network adapters.

Sadly, the problem persists. When Alexa is searching for devices, first `setup.xml` is polled, then `api/` and finally `api/xxxx/lights` but it does not descent further to the individual lights and alexa e

[2019-10-25 19:34] greenkeeper[bot] opened #63 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `6.5.1` to `6.6.0`.

🚨 [View failing branch](https://github.com/mabunixda/node-red-contrib-alexa-home/compare/master...mabunixda:greenkeeper%2Feslint-6.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this pro

[2019-10-31 02:38] ldh830114 opened #64 "Unable to install node due to conflict."
I am unable to install the node as it states there is a conflict with node-red-contrib-alexa-home-skill.

I am unable to remove node-red-contrib-alexa-home-skill in palette manager. Has anyone else had the same issue? I am using Node-Red hass.io addon.

Thanks for the hard work.

[2019-11-02 18:54] ichbaum opened #65 "Bootloop if alexa-home node ist deployed without controller node."
2 Nov 19:49:14 - [info] Flows starten
2 Nov 19:49:17 - [info] [alexa-home-controller:Alexa Controller] 0 - alexa-home - Starting SSDP
2 Nov 19:49:17 - [info] [alexa-home-controller:Alexa Controller] 0 - announcing: http://*:80/alexa-home/setup.xml
2 Nov 19:49:17 - [info] Assigning alexa-home nodes to this controller
2 Nov 19:49:18 - [info] Flows gestartet
2 Nov 19:49:18 - [red] Uncaught Exception:

[2019-11-03 14:35] ichbaum opened #66 "unknown alexa node of type lights was requested: _emptyIteratorStopper"
I can't add devices to alexa.
It worked onece. After i added more devices it won't work anymore. I get this error message.
I uninstalled/reinstalled it. Nothing worked.

The port 60000 is mapped via Iptables to 80.

[code]

`{ "lights": { "37feaa82d77ad6": { "state": { "on": false, "bri": 254, "hue": 0, "sat": 254, "effect": "none", "xy": [ 0.0, 0.0 ], "ct": 199, "colormode": "ct", "reachable": tr

[2019-11-04 05:10] ichbaum opened #67 "can't get api /state JSON"
Alexa trys to get the /state of an lamp after switching it on.
But gets connection errors. You can see it in the app. after a few seconds the state in the app is correct again. May be an api call to update all lamps.

![2019-11-04 06_07_28-192 168 1 116_api_c6260f982b43a226b5542b967f612ce_lights_a80a300124202](https://user-images.githubusercontent.com/9842110/68100683-8bde6400-fec9-11e9-8ce8-d2312

[2019-11-05 09:53] mabunixda commented on #67
@ichbaum can you get the http headers from the non function http request?

[2019-11-05 09:54] mabunixda commented on #66
This is a known limitiation of the templating function used to generate the response data for alexa. If anybody can solve this with a valid json output i am happy to merge the pull request! 💯

[2019-11-05 09:54] #66 closed

[2019-11-05 09:55] mabunixda commented on #65
This boot loop is occuring because your running node-red user is not allowed to open port 80 as already discussed [here](https://github.com/mabunixda/node-red-contrib-alexa-home/issues/62#issuecomment-537203445)

[2019-11-05 09:55] #65 closed

[2019-11-05 09:55] mabunixda commented on #62
any updates after those multiple firmware updates of alexa devices?

[2019-11-05 09:56] mabunixda commented on #64
sorry - no problems on this one.

Are there any logs available?

[2019-11-05 10:37] Sk4zz commented on #62
I changed my whole setup a couple of days ago. I moved my homeassistant from hassbian to hass.io on hassos. With the node-red plugin comes a pre-installed and un-uninstallable alexa-skill-module, so I was not able to install your alexa-home. So I moved my nodered back to my second raspi and the first alexa-node was discovered by alexa but not the second one. I ended up adding a handful more alex n

[2019-11-08 18:07] ichbaum commented on #66
This error prevents the whole system from working.
I adden 5 Lights. Everything was ok.
Than i added a new one and let alexa scan again. I got the error and ALL lights stop functioning.

`8 Nov 19:02:19 - [info] [alexa-home-controller:Alexa Controller] 192.168.1.223-60000/GET -> /api/c6260f982b43a226b5542b967f612ce/lights/291ee54a7597ba
8 Nov 19:02:19 - [info] [alexa-home-controller:Alexa Controll

[2019-11-08 18:15] ichbaum commented on #67
`
User-Agent: | Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.87 Safari/537.36
-- | --
DNT: | 1
Accept: | */*
Accept-Encoding: | gzip, deflate
Accept-Language: | de,de-DE;q=0.9,en;q=0.8,en-US;q=0.7
Cookie: | io=U6EeAl2XGzvJ8Oj3AAAA

`

Body
[code]

[2019-11-08 18:15] ichbaum commented on #67
`

X-Powered-By: | Express
-- | --
Content-Security-Policy: | default-src 'none'
X-Content-Type-Options: | nosniff
Content-Type: | text/html; charset=utf-8
Content-Length: | 202 bytes
Date: | Fri, 08 Nov 2019 18:13:15 GMT
Connection: | keep-alive

`

[2019-11-08 18:19] ichbaum commented on #67
And i get an defective JSON for this light.
http://192.168.1.116/api/c6260f982b43a226b5542b967f612ce/lights/1421c926688fa7

Unexpected token (COMMA(,)) at position 15

{"state":{"on":,"bri":254,"hue":0,"sat":254,"effect":"none","xy":[0,0],"ct":199,"alert":"none","colormode":"ct","mode":"homeautomation","reachable":true},"swupdate":{"state":"noupdates","lastinstall":"2019-11-08T18:18:12"},"type":"E

[2019-11-10 07:00] jaburges commented on #53
Could someone please simplify the issue?
I'm using a node-red docker, so can have docker forward the ports, but cant figure out from the thread if Alexa is looking at 80, or is node-red needing 80?

[2019-11-10 08:24] mabunixda commented on #53
Nodered runs Default in Port 1880, Alexa works with the current Firmware best, when the Port 80 ist used for Alexa. You can configure this in the nodered node.
But when using docker you must map the correct Ports of course

Am 10. Nov. 2019, 08:00, um 08:00, jaburges <notifications@github.com> schrieb:

[2019-11-10 08:32] jaburges commented on #53
Thanks - although 80 doesn’t work either.

1880 is the Node-red UI
80 internal port : 80 external port?
(Or something different? No luck with any)
And in host network_mode, same issue?

[2019-11-10 08:35] mabunixda commented on #53
I am using this to run a local Dev Version
https://github.com/mabunixda/node-red-contrib-alexa-home/blob/709a6c0012e94287062c380ddc20aa614a850258/scripts/run.sh#L3

Because of the Udp ssdp used in Alexa you must use Host Mode for Network.
Otherwise this also does Not require a Port mapping

⁣BlueMail for Android herunterladen ​

Am 10. Nov. 2019, 09:32, um 09:32, jaburges <notifications@github.com

[2019-11-10 09:07] Tranquility76 commented on #53
Even with Port 80 configured right it might still not work.

There is still this open issue that since a few month Alexa is not able to detect (all) devices with this node.

In my case only 4 out of 15 devices are discovered – all the fixes provided in the last 2 months did not solve this issue… ☹

So maybe you configuration is already right but your are hitting this discovery issue too…

Von: jab

[2019-11-11 07:52] jaburges commented on #53
any definitive way to test?
i have tried net=host
AND
exposed 80 & 60000 (neither of which i had to do before)

is this likely something that can be fixed?

[2019-11-12 10:43] mabunixda commented on #67
Thanks for the input! i gonna review that

[2019-11-12 10:47] mabunixda commented on #53
@jaburges can you post your docker run commandline and flow? alexa and node-red are in the same lan ?

@Tranquility76 yeah it is hard to follow this issues if i am not able to reproduce the issue and there is no other dev available which is able to shed more light into that issue :-(

I know that this is frustrating situation - also on my end as developer of this module

[2019-11-12 10:47] mabunixda commented on #64
no more input  - please feel free to reopen the issue

[2019-11-12 10:47] #64 closed

[2019-11-12 10:58] Tranquility76 commented on #53
Hi Martin,

I really appreciate your work and I guess it is not easy to hold the speed Amazon is changing things.

I am curious – what is https://github.com/datech/node-red-contrib-amazon-echo doing different? Because this node works…

[2019-11-15 05:58] jaburges commented on #53
@mabunixda
docker:

or
`sudo docker run -it --net host --user root --name nodered --restart always -v /home/name/docker/node-red/data:/data nodered/node-red-docker:0.20.8-v8`

flow is just alexa controller tried with `80` or `60000`
and node into a debug node (full msg) - but devices are discovered yet by Alexa

[2019-11-17 06:46] jaburges commented on #53
i've just tried this node and it has the same issue.
I've also tried:

Same problem :(

[2019-11-17 07:08] Tranquility76 commented on #53
I am running https://github.com/datech/node-red-contrib-amazon-echo on a Raspi and it just works.

All(!) devices are discovered and react on commands as expected. (Although the node output is slightly different so I had to modify my flows a little bit.)

[2019-11-17 09:46] jaburges commented on #53
are your devices new (port 80) or older, and are you running node-red in a docker?

[2019-11-17 11:25] Tranquility76 commented on #53
Gen2 and Gen3 devices and as written running on a Raspi and not in docker.

Am 17.11.2019 um 10:46 schrieb jaburges <notifications@github.com>:

﻿

are your devices new (port 80) or older, and are you running node-red in a docker?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/mabunixda/node-red-contrib-alexa-home/issues/53?

[2019-11-18 00:54] jaburges commented on #53
switched to https://github.com/datech/node-red-contrib-amazon-echo
and that DOES work now on `network_mode=host`
with `nodered/node-red:latest`

[2019-11-19 20:46] leouzz commented on #62
Hi, i Have the same problem, just 1 device discovered,
orangepi + home assistant + node-red
echo dot gen3
node-red run by sudoers user

[2019-11-21 20:25] greenkeeper[bot] opened #68 "An in-range update of node-red is breaking the build 🚨"
## The devDependency [node-red](https://github.com/node-red/node-red) was updated from `1.0.2` to `1.0.3`.

🚨 [View failing branch](https://github.com/mabunixda/node-red-contrib-alexa-home/compare/master...mabunixda:greenkeeper%2Fnode-red-1.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

node-red is a devDependency o

[2019-12-18 21:02] greenkeeper[bot] opened #69 "An in-range update of mustache is breaking the build 🚨"
## The dependency [mustache](https://github.com/janl/mustache.js) was updated from `3.1.0` to `3.2.0`.

🚨 [View failing branch](https://github.com/mabunixda/node-red-contrib-alexa-home/compare/master...mabunixda:greenkeeper%2Fmustache-3.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mustache is a direct dependency o

[2020-04-16 08:22] #63 closed

[2020-04-16 08:22] #68 closed

[2020-04-16 08:22] #69 closed

[2020-04-16 08:24] mabunixda commented on #53
closing this one - either you moved to another node or nobody posted problem updates since long time

[2020-04-16 08:24] #53 closed

[2020-04-16 08:25] mabunixda commented on #62
@leouzz @Sk4zz still fighting those problem or already fixed/moved? ;-)

[2020-04-16 12:53] Sk4zz commented on #62
I have moved on. I am now using the homeassistant cloud for my Alexa integration. When I find the time, I will check if the problem still persists.

[2020-04-19 15:31] jcwren opened #73 "Update CHANGELOG.md on each release?"
First, let me say this is a great module, and has been very useful. In particular, I use it to make a house-wide annoucement when the driveway gate has been opened or closed. I'm really happy to see active development on the module.

Would it be possible to update the CHANGELOG.md for each release? It was last updated about 11 months ago, at version 1.0.0. I usually go back through the commit list

[2020-04-20 08:48] mabunixda commented on #73
Yeah i know i have to get this done ... hopefully with some github action stuff.

Pull requests are welcome!

[2020-04-20 08:49] mabunixda commented on #62
ok - closing it now .. just reopen it - or create a new one

[2020-04-20 08:49] #62 closed

[2020-05-21 16:35] AzonInc opened #74 "Device Malfunction when changing Color"
Whenever I try to change the Color, Alexa is responding with "Device unreachable".
The Alexa App itself responds with: "Device Malfunction".

I'm using an Echo Dot 2nd Gen and the latest release of node-red-contrib-alexa-home.

Does this happen to me only or to others too?

[2020-05-21 17:59] AzonInc commented on #74
While looking at the code it seems that it's not implemented properly.
Color Mode is ct but ct, hue and sat are never changed.
The response values for them are always static.

[2020-05-22 18:34] greenkeeper[bot] opened #75 "An in-range update of js-yaml is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [js-yaml](https://github.com/nodeca/js-yaml) was updated from `3.13.1` to `3.14.0`.

🚨 [View failing branch](https://github.com/mabunixda/node-red-contrib-alex

[2020-05-22 20:08] greenkeeper[bot] opened #76 "An in-range update of node-red-node-test-helper is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [node-red-node-test-helper](https://github.com/node-red/node-red-node-test-helper) was updated from `0.2.3` to `0.2.4`.

🚨 [View failing branch](https://github

[2020-05-25 06:37] mabunixda commented on #74
Thanks - i did not use that function at all the last few months myself. i gonna review the code

[2020-06-03 06:31] hoepps2802 opened #77 "Alexa device malfunction when state change"
Hello,

As soon as I change the state of the device in the Alexa app or via Alexa speak command , there is an error message that a problem has occurred. in the flow everything is displayed correctly and also switched.

alexa says: I'm sorry something went wrong

best regards
Matthias

[2020-07-01 12:30] caster1 opened #78 "alexa cant discover devices"
i have port forwarded port 80 with
`sudo iptables -t nat -I PREROUTING -p tcp --dport 80 -j REDIRECT --to-ports 60000`
and my command line is also starting it as '1 Jul 17:52:12 - [info] Stopped flows
1 Jul 17:52:12 - [info] Starting flows
1 Jul 17:52:12 - [info] [alexa-home-controller:Alexa Controller] 0 - alexa-home - Starting SSDP
1 Jul 17:52:12 - [info] [alexa-home-controller:Alexa Controller]

[2020-07-01 16:15] mabunixda commented on #78
Hi, you can also define on the Alexa Controller Node that it should be listening to port 80! Go on configuration of the node and change the port ... and drop your iptables rules oc

[2020-07-02 01:55] caster1 commented on #78
hi thank  you mabuxinda when i start on port 80 its crashing there is something running on the address 0.0.0.0.80 i checked it but there is nothing running on that port this is my log
`2 Jul 07:16:40 - [info] Starting flows
2 Jul 07:16:41 - [info] [alexa-home-controller:Alexa Controller] 0 - alexa-home - Starting SSDP
2 Jul 07:16:41 - [info] [alexa-home-controller:Alexa Controller] 0 - announcing:

[2020-07-02 02:25] caster1 commented on #78
okay now i created a new flow with node-red new_flow.json its begin and i started my controller on port 80 but still my alea can not discover it
`2 Jul 07:50:39 - [info] Starting flows
2 Jul 07:50:39 - [info] [alexa-home-controller:Alexa Controller] 0 - alexa-home - Starting SSDP
2 Jul 07:50:40 - [info] [alexa-home-controller:Alexa Controller] 0 - announcing: http://*:80/alexa-home/setup.xml
2 Jul

[2020-07-02 06:33] mabunixda commented on #78
Is there an echo available within the network?

[2020-07-02 11:35] caster1 commented on #78
no there isnt i only have an alexa client on my phone, would this work if i buy an alexa?

[2020-07-08 05:55] mabunixda commented on #78
Yeah i did not test with just the phone. As far as i know you can only interact with alexa devices

[2020-10-04 18:20] Ludacrysis commented on #77
Hi folks,

it seems to me this hasn't been solved so far and I'm experiencing the same problem as hoepps2802.
As  already stated above upon giving alexa a voice command she does her job (apparently) but replies that there has been an error doing so.

One more strange thing about this: If I change the color to pure red it works without error...

best regards

[2020-10-05 09:56] mabunixda commented on #77
yeah i assume there is an communication/update problem of the response. Is this only on a certain command? on/off, dimming, ... ?

[2020-10-05 10:04] Ludacrysis commented on #77
In my case it only happens for color change (except for pure red). On, Off and Dimming work fine.

[2020-10-16 04:08] jeffellington13 commented on #78
To be successful on port 80, Node-Red needs to be running as root. If this instance of Node-Red is running on Raspian it will not natively work on port 80. There is documentation on the www on how to run Node-Red as root.

[2020-10-28 15:08] Ludacrysis commented on #77
I got an idea while doing further testing on this error, correct me if I'm wrong....

Because the hue value is out of range this might cause the mentioned update problem.
Maybe Alexa is comparing the updated with the requested state and since the hue-value is wrong "she" assumes an error.

This would also explain why this problem isn't occuring for the color red (huevalue: 0) since the huevalue is

[2020-10-29 07:27] mabunixda commented on #77
The response is handled in the [alexahub](https://github.com/mabunixda/node-red-contrib-alexa-home/blob/master/alexa/alexa-hub.js#L98). then the implementation is found (here)[https://github.com/mabunixda/node-red-contrib-alexa-home/blob/1649cfe0f0e8f29020d14438b27c3485ccc0663b/alexa/alexa-home-controller.js#L286].

The output data is generated by [generateAPIDevice](https://github.com/mabunixda/n

[2021-01-08 01:54] MattL0 opened #87 "Dim light is set as a Ct dim light"
I get this error on nodered when alexa is discovering devices.
I have set all the lights type in nodered  to : dimmable light. But they are set to ct light in the alexa app. Testing a ct level gives a ''device malfunction'' response on the app.

![Capture](https://user-images.githubusercontent.com/27497561/103964960-a8f46f80-512a-11eb-9e2f-f029fa7e68b8.PNG)

[2021-01-08 08:10] mabunixda commented on #87
Hi Matt, the response _emptyIteratorStopper is just a formatting hack/fix to use a template engine to generate the response.
i guess your problem is related to #77 - I am working on a new version right now to fix this problem

[2021-01-08 18:12] MattL0 commented on #87
Thanks Martin

[2021-03-04 07:02] #76 closed

[2021-03-04 07:02] #75 closed

[2021-03-04 08:05] #73 closed

[2021-03-04 09:11] github-actions[bot] opened #94 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-04 09:14] #94 closed

[2021-04-07 15:25] atika commented on #56
I think I also have the same issue, I only have the following values for color: hue, sat, and bri, and hue value is erroneous.

For a green color, the payload is:
[code]

The hue value is not in 0-360 range. What I do, it's seems to work, but it's pure hazard :
[code]

But the device (Echo dot 2) and app respond immediately that there is a problem with the device.

[2021-04-08 14:23] mabunixda commented on #56
Thanks for the input! I gonna review this code segments in the next days and hopefully fix this !

[2021-09-30 23:06] gkchim opened #104 "Alexa devices not found"
Hi I am trying to set this up, but having little luck.

My nodered installation sits behind an NGINX reverse proxy. does that effect anything.

on node red, it shows as the hub is online, but Alexa will not discover the new devicesi am creating on Node .

Home Assistant and Node Red are installed using docker

[2021-10-01 05:19] mabunixda commented on #104
How is the nodered installation running? within a docker instance or as process?

[2021-10-01 06:57] gkchim commented on #104
hI,

within docker as a container.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Martin Buchleitner ***@***.***>
Sent: Friday, October 1, 2021 6:19:14 AM
To: mabunixda/node-red-contrib-alexa-home ***@***.***>
Cc: gkchim ***@***.***>; Author ***@***.***>
Subject: Re: [mabunixda/node-red-contrib-alexa-home] Alexa devices not found (#104)

How is the nodered

[2021-10-01 07:30] mabunixda commented on #104
You *must* run the container with ```--network host``` because docker cannot handle the ssdp/udp broadcast element. This is also valid for all the runtimes, so also for orchestrators likes kubernetes or nomad :(

that is also the reason I ended up running my installation on a raspi and just proxy the access via traefik load balancer.

[2021-10-01 07:59] gkchim commented on #104
thank you. I use portainer to manage my docker instances. do you know how I do this through portainer ?

can you point me to a link with instructions/a tutorial please.

thank you

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Martin Buchleitner ***@***.***>
Sent: Friday, October 1, 2021 8:30:25 AM
To: mabunixda/node-red-contrib-alexa-home ***@***.***>
Cc:

[2021-10-01 08:35] mabunixda commented on #104
I assume you have to edit the [advanced settings](https://docs.portainer.io/v/ce-2.6/user/docker/containers/add#advanced-container-settings) of portainer. there should be an entry: [host](https://docs.portainer.io/v/ce-2.9/user/docker/networks) on the networks tab/view

[2021-10-01 09:48] gkchim commented on #104
I have just moved it to the host network. and now the 'Amazon Echo Hub' in Node Red says underneath ' Unable to start on port 80'

[2021-10-01 09:49] gkchim commented on #104
Port 80 is my Nginx reverse proxy

[2021-10-01 09:52] gkchim commented on #104
in my Node Red Docker logs i see the below error:

,

,
1 Oct 09:45:12 - [info] ,
,
Welcome to Node-RED,
===================,
,
1 Oct 09:45:13 - [info] Node-RED version: v2.0.6,
1 Oct 09:45:13 - [info] Node.js  version: v14.17.6,
1 Oct 09:45:13 - [info] Linux 5.10.0-0.bpo.8-amd64 x64 LE,
1 Oct 09:45:13 - [info] Loading palette nodes,
1 Oct 09:45:18 - [info] Settings file  : /data/settings.js,
1 Oc

[2021-10-01 09:52] mabunixda commented on #104
try to set an environment variable ALEXA_PORT or change the configuration of the controller node settings.

[2021-10-01 09:56] gkchim commented on #104
Should i set this to ALEXA_PORT = 80?

[2021-10-01 09:56] gkchim commented on #104
configuration of the controller node settings. to a different port? that's not 80?

[2021-10-01 09:58] gkchim commented on #104
i changed the configuration of the controller node settings to another number, now it says Alexa Hub is online. i will try and discover divies on Alexa now

[2021-10-01 10:04] gkchim commented on #104
No luck discovering yet. this is my flow. Anything i have done wrong you can see?L

`[
    {
        "id": "373e0bcd.625e24",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "245783cc.6e10fc",
        "type": "debug",
        "z": "373e0bcd.625e24",
        "name": "",
        "active": true,
        "tosidebar": true,

[2021-10-01 10:04] gkchim commented on #104
`
[
    {
        "id": "373e0bcd.625e24",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "245783cc.6e10fc",
        "type": "debug",
        "z": "373e0bcd.625e24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",

[2021-10-01 10:05] gkchim commented on #104
[
    {
        "id": "373e0bcd.625e24",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "245783cc.6e10fc",
        "type": "debug",
        "z": "373e0bcd.625e24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",

[2021-10-01 10:09] gkchim commented on #104
,

1 Oct 10:02:26 - [info] ,
,
Welcome to Node-RED,
===================,
,
1 Oct 10:02:26 - [info] Node-RED version: v2.0.6,
1 Oct 10:02:26 - [info] Node.js  version: v14.17.6,
1 Oct 10:02:26 - [info] Linux 5.10.0-0.bpo.8-amd64 x64 LE,
1 Oct 10:02:27 - [info] Loading palette nodes,
1 Oct 10:02:31 - [info] Settings file  : /data/settings.js,
1 Oct 10:02:31 - [info] Context store  : 'default' [modul

[2021-10-04 10:31] mabunixda commented on #104
Can you use nginx to forward requests to the allocated port?

[2022-06-03 19:33] Killemfirstone opened #110 "Alexa loose node Red devices"
Dear all,

using Alexa Home with node red, about 1 year without any Problems.

Running on a pi3  in normal raspian instance. Port Changes routed from 80 to 6000.

Im my Home several Echo dots v3 , v4, Echo flex working

News issue since 3 weeks:

Alexa App loose some or all devices randomly after 1…2 days.

Searching for new devices will fix it and all devices will Show Up again in Alexa App , but

[2022-06-03 19:36] Killemfirstone commented on #110
Hi, forget to say..

Nodes are mygekko shutter, light nodes , and Shelly nodes..

[2022-06-28 21:00] mabunixda commented on #110
Please retry with the latest version which is now on publishing

[2022-06-28 21:01] mabunixda commented on #104
Hopefully the new implementation from #108  and #111  solve these problems

[2022-06-28 21:01] #104 closed

[2022-06-28 21:02] mabunixda commented on #78
Hopefully the new implementation from #108  and #111  solve these problems

[2022-06-28 21:02] #78 closed

[2022-06-28 21:02] mabunixda commented on #77
Hopefully the new implementation from #108  and #111  solve these problems

[2022-06-28 21:02] #77 closed

[2022-06-28 21:02] mabunixda commented on #67
Hopefully the new implementation from #108  and #111  solve these problems

[2022-06-28 21:02] #67 closed

[2022-06-28 21:03] mabunixda commented on #87
Hopefully the new implementation from #108  and #111  solve these problems

[2022-06-28 21:03] #87 closed

[2022-06-28 21:03] mabunixda commented on #33
Hopefully the new implementation from #108  and #111  solve these problems

[2022-06-28 21:03] #33 closed

[2022-06-28 21:04] mabunixda commented on #74
Hopefully the new implementation from #108  and #111  solve these problems

[2022-06-28 21:04] #74 closed

[2022-06-29 19:59] Killemfirstone commented on #110
Dear Martin,How can i Install v.2.0?Over palette Install only Version 1.4 available.Via Pull request the same.Thanks for Support!Michael KellerCombrinkstrasse 25a59229 Dolberg

[2022-06-30 05:19] mabunixda commented on #110
I damn that workflow broke - i updated the workflow and published the node manually, and also updated flows.nodered

[2022-07-09 00:42] blue-danube-vienna opened #112 "node red Error: listen EACCES: permission denied 0.0.0.0:80"
Hi!

After update from 1.4.0 to 2.0.0 the message "_node red  Error: listen EACCES: permission denied 0.0.0.0:80_" appears.

I have nginx with  proxy_pass to port 60000 installed.

iptables -t nat -I PREROUTING -p tcp --dport 80 -j REDIRECT --to-ports 60000  does even not work...

is the port 60000  disabled  in 2.0.0 ??

please help
best regards
blue_danube

[2022-07-11 07:48] Sylvan86 opened #113 "msg.alexa_ip return only "undefined""
## description
According to the documentation, the value `msg.alexa_ip` should return the ip-address of the echo device with which the communication takes place.
In my case, however, this value is always "*undefined*"

## reproduce the bug
I use the following `docker-compose.yml` to run the official node-red docker image:
[code]

Install the alexa-home node and import the following flow:
[code]
*

[2022-07-11 10:13] mabunixda commented on #113
Ok - can you turn on debugging by following: set an env variable `DEBUG` to `node-red-contrib-alexa-home`:
[code]

This will add a lot of output but there should also an output of [this line](https://github.com/mabunixda/node-red-contrib-alexa-home/blob/94296626eb66c55d3b56af46026ed328cfaf73ee/alexa/alexa-home-controller.js#L340).

The actual alexa IP is defined within [this code](https://github.c

[2022-07-11 10:14] mabunixda commented on #112
No the port is not disabled, but the default port is set to 80. But of course this should not be overwritten on existing configurations/setups.
You can also use the proxy method that your nodered installations webserver is used for all communication.

[2022-07-11 10:15] mabunixda commented on #110
@Killemfirstone Did the update work on your installation?

[2022-07-11 11:13] Sylvan86 commented on #113
Damn you are fast!
I inserted the debug variable as described and then completely restarted the container.

I then completely reloaded the flow, let the device search again, and then sent an "*on*" command to the device.
Meanwhile, I ran a tcpdump on port 80 and output it to a pcap file for Wireshark, which I uploaded here: [alexa_home_tcpdump.zip](https://github.com/mabunixda/node-red-contrib-ale

[2022-07-11 11:51] Killemfirstone commented on #110
Hi Martin,No this Version ends in node red bootloop.After deploying Alexa Home.Michael KellerCombrinkstrasse 25a59229 Dolberg

[2022-09-19 14:23] GrisuLychen commented on #112
Hi,
sorry i had to push the topic because i can't solve the problem. I get the same error after the update and whatever i write in the port setup, it seams as the plugin use port 80 an node red crashed or was suspended  (runnig as a service or with pi user). I dont want to use root and i did not understand the workaround from blue-danube. Can you help me please. How can i change the port to 60000

[2022-09-19 14:50] mabunixda commented on #112
Alexa device need to communicate on port 80. ypu can try to use the proxy flag „use node as webserver“ on the latest version
![Bildschirmfoto 2022-09-19 um 16 49 00](https://user-images.githubusercontent.com/1193145/191046467-2a3cccd0-9682-4901-bce3-f6aa433949e8.png)

here the webserver of nodered is used and no other is started.

[2022-09-19 18:16] GrisuLychen commented on #112
Hi mabunixda,
thank you for your advice. Unfortunately it also dosn't work.

Because I didn't know what to do anymore, i read the files of the node and seach for port 80.
And what shoud i say, i dont know why, but i found something and it seams to work.
I change the "80" in /home/pi/.node-red/node_modules/node-red-contrib-alexa-home/alexa/alexa-helper.js to 8980 and restart node red.
In my old set

[2022-09-20 05:53] mabunixda commented on #112
Fine :)  The information about prerouting was also missing on your last post ...

[2022-09-20 05:53] #112 closed

[2022-09-27 13:07] stereodruid opened #114 "msg.alexa_ip"
msg.alexa_ip  alway returns "undefined"

msg : Object
object
username: "UZoxo7zHkyZQIalUPMcCE3Aivzc0aFpbqZLjpEHq"
payload: object
alexa_ip: undefined
change_direction: 0
device_name: "Licht"
light_id: "00bbb9e8bbe04334"
_msgid: "ebc6dce400198131"

[2022-09-27 13:08] #114 closed

[2022-09-27 13:35] mabunixda commented on #113
@stereodruid well there should be an ip address , [that code](https://github.com/mabunixda/node-red-contrib-alexa-home/blob/main/alexa/alexa-hub.js#L59) did not get any updates. On my deployment behind a reverse proxy I get an IP address reported. There is a need that somebody who is running nodered without a reverse proxy evaluates this code fragement

[2022-09-27 16:01] mabunixda commented on #113
@stereodruid please check with version *2.0.1*
from my experience there is always a leader node that does the communication. If *anybody* finds more about properties which device was requesting/interacting - please update this issue!

[2022-09-28 13:57] stereodruid commented on #113
Thanks for your replay. I will look in to it.

[2022-09-28 18:16] stereodruid commented on #113
Hi mabunixda, after installing 2.0.2, alexa lost connection to my NR nodes. A new alexa device discovery returns 0 new devices.
I deleted all nodes and created new ones. I also deleted all devices from my alexa. Still alexa isn't able to discover any devices created in node red.  After rolling back to 2.0.0. everything works fine again.
Sadly, no error log available because there haven't been any

[2022-09-28 18:17] stereodruid commented on #113
I ment 2.0.1.

[2022-09-29 08:10] stereodruid commented on #113
@mabunixda How can I debug/monitor this?

[2022-09-29 12:05] DENightOne opened #119 "TypeError: alexaHome.AlexaIPAddress is not a function"
Installed yesterday on 3 different node red installs and get the following the moment I start up node red

TypeError: alexaHome.AlexaIPAddress is not a function
    at /root/.node-red/node_modules/node-red-contrib-alexa-home/alexa/alexa-hub.js:59:39
    at Layer.handle [as handle_request] (/root/.node-red/node_modules/express/lib/router/layer.js:95:5)
    at trim_prefix (/root/.node-red/node_modul

[2022-09-29 12:20] mabunixda commented on #119
@DENightOne are you running the controller node in proxy mode or in native port configuration?

[2022-09-29 12:28] DENightOne commented on #119
In proxy mode: Attached screenshot

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Martin ***@***.***>
Sent: 29 September 2022 14:21
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [mabunixda/node-red-contrib-alexa-home] TypeError: alexaHome.AlexaIPAddress is not a function (Issue #119)

@DENightOne<https://github.com/DENightOne> are you running the

[2022-09-29 12:29] DENightOne commented on #119
I am testing so am running node red as follows:

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Martin ***@***.***>
Sent: 29 September 2022 14:21
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [mabunixda/node-red-contrib-alexa-home] TypeError: alexaHome.AlexaIPAddress is not a function (Issue #119)

@DENightOne<https://github.com/DENightOne> are you

[2022-09-29 12:38] mabunixda commented on #113
There should be an information also on info log level like this
[code]

Can you run http://<your-vm-ip>:<alexa_hub_port>/setup.xml and afterwards with the referenced location from the log line ( if not the same )

alexa_hub_port can either be the node-red port, when running in proxy mode, otherwise the configured port from the controller node.

You can set the log level to DEBUG and then you shoul

[2022-09-29 18:45] DENightOne commented on #119
Sorry I had it the wrong way round.....I notice this in another open bug: "
alexa_hub_port can either be the node-red port, when running in proxy mode, otherwise the configured port from the controller node." meaning I have been running with the configured port on the controller node and not proxy mode.... however no matter how I run it I get the "TypeError: alexaHome.AlexaIPAddress is not a funct

[2022-09-29 19:01] stereodruid commented on #113
#119 Im getting the same error:
TypeError: alexaHome.AlexaIPAddress is not a function at /opt/iobroker/iobroker-data/node-red/node_modules/node-red-contrib-alexa-home/alexa/alexa-hub.js:59:39 at Layer.handle [as handle_request] (/opt/iobroker/iobroker-data/node-red/node_modules/express/lib/router/layer.js:95:5) at trim_prefix (/opt/iobroker/iobroker-data/node-red/node_modules/express/lib/router/in

[2022-09-30 04:05] ka0n commented on #119
I can cofirm the error "TypeError: alexaHome.AlexaIPAddress is not a function" was introduced in v2.0.1 in my setup.

As a containment, I downgraded to v2.0.0 by changing my node-red addon settings in homeassistant to node-red-contrib-alexa-home@2.0.0

[2022-09-30 07:59] mabunixda commented on #119
I published version [2.0.2](https://flows.nodered.org/node/node-red-contrib-alexa-home) which fixxes that error.

[2022-09-30 07:59] mabunixda commented on #113
Yeah - kinda strange, but version [2.0.2](https://flows.nodered.org/node/node-red-contrib-alexa-home) fixxes that problem

[2022-09-30 08:55] DENightOne commented on #119
Thanks very much, downloaded 2.0.2 and can confirm it works as expected.  Light discovered and actionable.

[2022-09-30 09:03] mabunixda commented on #119
Awesome :-)

[2022-09-30 09:03] #119 closed

[2022-09-30 10:29] stereodruid commented on #113
@mabunixda on more question, would it be also possible to get the deviceSerialNumber or macAddress? It is nice to have the IP, but the ip is not reliable enough do to the ip can change.

[2022-09-30 11:00] stereodruid commented on #113
Sorry after testing it with other alexa devices, i noticed that the ip is alway the same no matter what Alexa device i use.

[2022-09-30 12:52] stereodruid commented on #113
@mabunixda what i found out is that the ip provided is always that of my Echo plus wich has a hub integrated.

[2022-09-30 13:27] stereodruid commented on #113
If i turn of my Echo Plus the behavior is the same but the ip is a changed to another echo device and remains the same.
NodeR info line: 30 Sep 13:06:21 - [info] [debug:debug 4] { username: 'removed', payload: { on: true, bri: 254, command: 'switch', bri_normalized: 100 }, alexa_ip: '192.168.178.35', change_direction: 0, device_name: 'Leinwand', light_id: 'b96586b8acccd6ce', _msgid: 'removed'}

[2022-09-30 13:59] mabunixda commented on #113
Yeah - that seems to be the implementation of the alexa devices of a single account, that these devices create a kind of swarm and select a leader which does all the communication. Sadly there is no more information available - even on the headers that are included on a single request.
And the mac address is not available on such a HTTP request

[2022-09-30 17:50] stereodruid commented on #113
Hmm, im not so sure about this. have a look at this outputs:
[code]

So the behavior is strange. I used the same echo for all commands.
It dos not matter wich echo i speak to, when i say:

 turn on "Leinwand" it uses this ip:192.168.178.25
 turn on "Licht" it uses this ip:192.168.178.35
 turn on "Computer" it uses this ip:192.168.178.49
The result is always the same.

What Whireshark cptured for "

[2022-10-02 19:38] station7 opened #121 "Input of color_temp?"
I love your Alexa implementation for node-red - many thanks for your efforts! I just have a very quick question:

I have not seen a description of the payload for the input of color_temp values ("_At the moment you can input as payload objects:
brightness color on/off_").  Is the input of ct-values planned or maybe already implemented and I did not recognize it?

[2022-10-03 05:35] station7 commented on #121
And another short question: Regardless of what type of light I choose (dimmable, color temperature or extended) the Alexa-App for iOS allows me to change the color temperature or set a color for each light - even for dimmable lights only. Is this behaviour a limit of Amazon/the Alexa App?

[2022-10-05 15:06] Sylvan86 commented on #113
Yes the bug is fixed with version 2.0.2 for me.
Unfortunately the result is not the hoped for, but this is not due to the alexa-node.

In my case, the IP is also sent from the most inconvenient Alexa.

Thx for fixing!

[2022-10-05 15:06] #113 closed

[2022-10-06 10:24] mabunixda opened #122 "communication detection"
Hmm, im not so sure about this. have a look at this outputs:
[code]

So the behavior is strange. I used the same echo for all commands.
It dos not matter wich echo i speak to, when i say:

 turn on "Leinwand" it uses this ip:192.168.178.25
 turn on "Licht" it uses this ip:192.168.178.35
 turn on "Computer" it uses this ip:192.168.178.49
The result is always the same.

What Whireshark cptured for "

[2022-10-11 07:29] DENightOne commented on #119
Am testing so running node red with this:

ALEXA_PORT=80 node-red start

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Martin ***@***.***>
Sent: 29 September 2022 14:21
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [mabunixda/node-red-contrib-alexa-home] TypeError: alexaHome.AlexaIPAddress is not a function (Issue #119)

@DENightOne<https://github

[2022-11-13 16:00] station7 opened #123 "Bug: Alexa not detecting NEW devices"
**Describe the bug**
12 devices of node-red-contrib-alexa-home worked well. I added two additional new devices, but Alexa does not detect them. I asked for device detection via Echo device, Amazon-WebIF, Sonos and Alexa-App but they are not found. Instead, I get the error message "unknown alexa node of type lights was requested: 8414d2b5827a00f0" and it some devices or functions (dimming) are no l

[2022-11-13 21:11] station7 commented on #123
Okay, I think the issue was my old EchoSpot - after factory reset and the use of a spare Echo Dot 3. Gen all devices were found...

[2022-11-13 21:11] #123 closed